Repository ovotech/circleci-orbs: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-argocd, run-asp-deploy, run-aws-configure-credentials-oidc, run-aws-get-parameters, run-aws-rotate-keys, run-clair-scanner, run-clojure, run-comms-commands, run-gcp-rotate-keys, run-helm-ci, run-ipa-deploy, run-jaws-journey-deploy, run-oot-deploy, run-oot-eks, run-pipeline-utils, run-rac-gcp-deploy, run-rac-kmi-deploy, run-sast-terraform, run-sast-docker, run-sbt-deploy, run-set-current-environment, run-setup-scheduled-pipeline, run-ssh-proxy, run-terraform, run-terraform-v2, run-tools, run-tools-install, run-versioned-lambda, run-with-git-deploy-key

Update changelog.md
  terraform-v2/CHANGELOG.md
  terraform-v2/orb_version.txt
  terraform/CHANGELOG.md
  terraform/orb_version.txt
Due: run-terraform, run-terraform-v2

CPPE addition / modification of CircleCI orb telemetry
  telemetry/README.md
  telemetry/orb.yml
  telemetry/orb_version.txt
Due: none

Add new orb to config
  .circleci/config.yml
  .circleci/continue_config.yml
  .github/CODEOWNERS
  README.md
Due: none

CPPE addition / modification of CircleCI orb telemetry
  telemetry/orb.yml
Due: none

Fix authorization bearer for existing terraform version (#481)
  terraform-v2/CHANGELOG.md
  terraform-v2/orb_version.txt
  terraform-v2/publish.sh
  terraform/CHANGELOG.md
  terraform/orb_version.txt
  terraform/publish.sh
Due: run-terraform, run-terraform-v2

Add Realm orb
  .circleci/config.yml
  .circleci/continue_config.yml
  realm/CHANGELOG.md
  realm/README.md
  realm/orb.yml
  realm/orb_version.txt
  realm/realm.sh
Due: none

Add prod to realm env
  realm/realm.sh
Due: none

CPPE addition / modification of CircleCI orb sast
  sast/README.md
  sast/orb.yml
  sast/orb_version.txt
Due: none

publish only to kmi when tag does not exist
  jaws-journey-deploy/orb.yml
Due: run-jaws-journey-deploy

uprev version
  jaws-journey-deploy/orb_version.txt
Due: run-jaws-journey-deploy

CPPE addition / modification of CircleCI orb setup-scheduled-pipeline
  setup-scheduled-pipeline/README.md
  setup-scheduled-pipeline/orb.yml
  setup-scheduled-pipeline/orb_version.txt
Due: run-setup-scheduled-pipeline

CPPE addition / modification of CircleCI orb setup-scheduled-pipeline
  setup-scheduled-pipeline/orb.yml
Due: run-setup-scheduled-pipeline

CPPE addition / modification of CircleCI orb setup-scheduled-pipeline
  setup-scheduled-pipeline/README.md
  setup-scheduled-pipeline/orb.yml
Due: run-setup-scheduled-pipeline

CPPE addition / modification of CircleCI orb setup-scheduled-pipeline (#486)
  setup-scheduled-pipeline/README.md
  setup-scheduled-pipeline/orb.yml
  setup-scheduled-pipeline/orb_version.txt
Due: run-setup-scheduled-pipeline

Add Realm orb (#483)
  .circleci/config.yml
  .circleci/continue_config.yml
  realm/CHANGELOG.md
  realm/README.md
  realm/orb.yml
  realm/orb_version.txt
  realm/realm.sh
Due: none

fix: avro save cache
  jaws-journey-deploy/orb.yml
  jaws-journey-deploy/orb_version.txt
Due: run-jaws-journey-deploy

[RNC-2860]: Add remote tracking branch before sbt release, to allow for releasing non main/master branches
  rac-gcp-deploy/orb.yml
Due: run-rac-gcp-deploy

BREAKING CHANGE: using oidc instead of aws keys
  jaws-journey-deploy/orb.yml
  jaws-journey-deploy/orb_version.txt
Due: run-jaws-journey-deploy

syntax for variables
  jaws-journey-deploy/orb.yml
Due: run-jaws-journey-deploy

variable syntax
  jaws-journey-deploy/orb.yml
Due: run-jaws-journey-deploy

region variable
  jaws-journey-deploy/orb.yml
Due: run-jaws-journey-deploy

oidc in terraform job
  jaws-journey-deploy/orb.yml
Due: run-jaws-journey-deploy

replaced deprecated ghcr url
  jaws-journey-deploy/scripts/github_docker_login.sh
Due: run-jaws-journey-deploy

backwards compatibility
  jaws-journey-deploy/orb.yml
  jaws-journey-deploy/scripts/github_docker_login.sh
Due: run-jaws-journey-deploy

removed mistake
  jaws-journey-deploy/orb.yml
Due: run-jaws-journey-deploy

multi git repo urls not needed
  jaws-journey-deploy/orb.yml
  jaws-journey-deploy/scripts/github_docker_login.sh
Due: run-jaws-journey-deploy

github url input not needed
  jaws-journey-deploy/orb.yml
Due: run-jaws-journey-deploy

quotes removed from conditional
  jaws-journey-deploy/orb.yml
Due: run-jaws-journey-deploy

conditional for oidc step
  jaws-journey-deploy/orb.yml
Due: run-jaws-journey-deploy

parameter rename
  jaws-journey-deploy/orb.yml
Due: run-jaws-journey-deploy

Path conditions:
  run-argocd: any of: argocd/.*
  run-asp-deploy: any of: asp-deploy/.*
  run-aws-configure-credentials-oidc: any of: aws-configure-credentials-oidc/.*
  run-aws-get-parameters: any of: aws-get-parameters/.*
  run-aws-rotate-keys: any of: aws-rotate-keys/.*
  run-clair-scanner: any of: clair-scanner/.*
  run-clojure: any of: clojure/.*
  run-comms-commands: any of: comms-commands/.*
  run-gcp-rotate-keys: any of: gcp-rotate-keys/.*
  run-helm-ci: any of: helm-ci/.*
  run-ipa-deploy: any of: ipa-deploy/.*
  run-jaws-journey-deploy: any of: jaws-journey-deploy/.*
  run-oot-deploy: any of: oot-deploy/.*
  run-oot-eks: any of: oot-eks/.*
  run-pipeline-utils: any of: pipeline-utils/.*
  run-rac-gcp-deploy: any of: rac-gcp-deploy/.*
  run-rac-kmi-deploy: any of: rac-kmi-deploy/.*
  run-sast-terraform: any of: sast-terraform/.*
  run-sast-docker: any of: sast-docker/.*
  run-sbt-deploy: any of: sbt-deploy/.*
  run-set-current-environment: any of: set-current-environment/.*
  run-setup-scheduled-pipeline: any of: setup-scheduled-pipeline/.*
  run-ssh-proxy: any of: ssh-proxy/.*
  run-terraform: any of: terraform/.*
  run-terraform-v2: any of: terraform-v2/.*
  run-tools: any of: tools/.*
  run-tools-install: any of: tools-install/.*
  run-versioned-lambda: any of: versioned-lambda/.*
  run-with-git-deploy-key: any of: with-git-deploy-key/.*
