Repository ovotech/circleci-orbs: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-argocd, run-asp-deploy, run-aws-configure-credentials-oidc, run-aws-get-parameters, run-aws-rotate-keys, run-clair-scanner, run-clojure, run-comms-commands, run-gcp-rotate-keys, run-helm-ci, run-ipa-deploy, run-jaws-journey-deploy, run-oot-deploy, run-oot-eks, run-pipeline-utils, run-rac-gcp-deploy, run-rac-kmi-deploy, run-sast-terraform, run-sast-docker, run-sbt-deploy, run-set-current-environment, run-setup-scheduled-pipeline, run-ssh-proxy, run-terraform, run-terraform-v2, run-tools, run-tools-install, run-versioned-lambda, run-with-git-deploy-key

syntax
  jaws-journey-deploy/orb.yml
Due: run-jaws-journey-deploy

oidc param for tf jobs
  jaws-journey-deploy/orb.yml
Due: run-jaws-journey-deploy

added oidc to common params
  jaws-journey-deploy/orb.yml
Due: run-jaws-journey-deploy

changelog added
  jaws-journey-deploy/changelog.md
Due: run-jaws-journey-deploy

argocd sync request job
  argocd/orb.yml
  argocd/orb_version.txt
Due: run-argocd

ubuntu image
  argocd/orb.yml
Due: run-argocd

target unused
  argocd/orb.yml
Due: run-argocd

new argo orb version, sync request
  jaws-journey-deploy/orb.yml
  jaws-journey-deploy/orb_version.txt
Due: run-jaws-journey-deploy

New build utilities orb
  .github/CODEOWNERS
  build-utilities/CHANGELOG.md
  build-utilities/README.md
  build-utilities/orb.yml
  build-utilities/orb_version.txt
Due: none

Rename orb
  build-utilities/orb.yml
Due: none

Add parameters
  build-utilities/orb.yml
Due: none

Alter config.yml to include new orb
  .circleci/config.yml
  .circleci/continue_config.yml
Due: none

Add missed parameter
  .circleci/continue_config.yml
Due: none

python script for sync request
  argocd/orb.yml
  argocd/scripts/sync_request.py
  argocd/scripts/sync_request.sh
Due: run-argocd

removed trailing spaces
  argocd/orb.yml
Due: run-argocd

Test adding machine lables in orb
  build-utilities/orb.yml
Due: none

readme
  argocd/README.md
  argocd/scripts/sync_request.py
Due: run-argocd

rename some commands
  build-utilities/orb.yml
Due: none

wait for sync after request
  argocd/orb.yml
  argocd/scripts/sync_request.py
Due: run-argocd

typo
  build-utilities/orb.yml
Due: none

version
  build-utilities/orb_version.txt
Due: none

combined argo commands
  argocd/orb.yml
  jaws-journey-deploy/changelog.md
  jaws-journey-deploy/orb.yml
Due: run-argocd, run-jaws-journey-deploy

change after publish
  jaws-journey-deploy/orb.yml
Due: run-jaws-journey-deploy

use sync job
  jaws-journey-deploy/orb.yml
Due: run-jaws-journey-deploy

parameterize restore_image
  build-utilities/orb.yml
Due: none

job & command
  argocd/orb.yml
Due: run-argocd

2 step command
  argocd/orb.yml
Due: run-argocd

sync and wait scripts
  argocd/orb.yml
  argocd/scripts/sync_and_wait.py
  argocd/scripts/sync_and_wait.sh
  argocd/scripts/sync_request.py
  argocd/scripts/sync_request.sh
Due: run-argocd

specify parameter
  argocd/orb.yml
  jaws-journey-deploy/orb.yml
Due: run-argocd, run-jaws-journey-deploy

jaws orb in seperate PR
  argocd/README.md
  jaws-journey-deploy/orb.yml
  jaws-journey-deploy/orb_version.txt
Due: run-argocd, run-jaws-journey-deploy

jaws orb in seperate pr
  jaws-journey-deploy/changelog.md
Due: run-jaws-journey-deploy

using argo1.1.0 test publish
  jaws-journey-deploy/changelog.md
  jaws-journey-deploy/orb.yml
Due: run-jaws-journey-deploy

Adding README + CHANGELOG
  build-utilities/CHANGELOG.md
  build-utilities/README.md
  build-utilities/orb.yml
Due: none

pass in target
  argocd/orb.yml
  argocd/scripts/sync_and_wait.py
  argocd/scripts/sync_and_wait.sh
Due: run-argocd

adding target
  jaws-journey-deploy/orb.yml
Due: run-jaws-journey-deploy

cleanup
  argocd/scripts/sync_and_wait.py
Due: run-argocd

removed unused variable
  argocd/scripts/output-jaws-api.json
  argocd/scripts/output.json
  argocd/scripts/sync_and_wait.py
  argocd/sync_request copy.sh
Due: run-argocd

readme correction
  argocd/README.md
Due: run-argocd

remove test files
  argocd/scripts/output-jaws-api.json
  argocd/scripts/output.json
  argocd/sync_request copy.sh
Due: run-argocd

Path conditions:
  run-argocd: any of: argocd/.*
  run-asp-deploy: any of: asp-deploy/.*
  run-aws-configure-credentials-oidc: any of: aws-configure-credentials-oidc/.*
  run-aws-get-parameters: any of: aws-get-parameters/.*
  run-aws-rotate-keys: any of: aws-rotate-keys/.*
  run-clair-scanner: any of: clair-scanner/.*
  run-clojure: any of: clojure/.*
  run-comms-commands: any of: comms-commands/.*
  run-gcp-rotate-keys: any of: gcp-rotate-keys/.*
  run-helm-ci: any of: helm-ci/.*
  run-ipa-deploy: any of: ipa-deploy/.*
  run-jaws-journey-deploy: any of: jaws-journey-deploy/.*
  run-oot-deploy: any of: oot-deploy/.*
  run-oot-eks: any of: oot-eks/.*
  run-pipeline-utils: any of: pipeline-utils/.*
  run-rac-gcp-deploy: any of: rac-gcp-deploy/.*
  run-rac-kmi-deploy: any of: rac-kmi-deploy/.*
  run-sast-terraform: any of: sast-terraform/.*
  run-sast-docker: any of: sast-docker/.*
  run-sbt-deploy: any of: sbt-deploy/.*
  run-set-current-environment: any of: set-current-environment/.*
  run-setup-scheduled-pipeline: any of: setup-scheduled-pipeline/.*
  run-ssh-proxy: any of: ssh-proxy/.*
  run-terraform: any of: terraform/.*
  run-terraform-v2: any of: terraform-v2/.*
  run-tools: any of: tools/.*
  run-tools-install: any of: tools-install/.*
  run-versioned-lambda: any of: versioned-lambda/.*
  run-with-git-deploy-key: any of: with-git-deploy-key/.*
