Repository ovotech/circleci-orbs: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-argocd, run-asp-deploy, run-aws-configure-credentials-oidc, run-aws-get-parameters, run-aws-rotate-keys, run-clair-scanner, run-clojure, run-comms-commands, run-gcp-rotate-keys, run-gitops, run-helm-ci, run-ipa-deploy, run-jaws-journey-deploy, run-oot-deploy, run-oot-eks, run-oot-eks-oidc, run-pipeline-utils, run-rac-gcp-deploy, run-rac-kmi-deploy, run-realm, run-sast, run-sbt-deploy, run-set-current-environment, run-setup-scheduled-pipeline, run-ssh-proxy, run-telemetry, run-terraform, run-terraform-registry, run-terraform-v2, run-tools, run-tools-install, run-versioned-lambda, run-with-git-deploy-key, run-kap-kmi-deploy, run-build-utilities, run-jira, run-github-actions, run-gcp-oidc-auth, run-release-notes

removed version spec in setup_remote_docker step, updated aws-ecr circleci orb version used in all orbs
  .circleci/continue_config.yml
  asp-deploy/orb.yml
  gcp-rotate-keys/orb.yml
  jaws-journey-deploy/orb.yml
  kap-kmi-deploy/orb.yml
  oot-eks-oidc/orb.yml
  oot-eks/orb.yml
  oot-eks/pre-oidc-orb_v2.30.txt
  rac-gcp-deploy/orb.yml
  rac-kmi-deploy/orb.yml
Due: run-asp-deploy, run-gcp-rotate-keys, run-jaws-journey-deploy, run-oot-eks, run-oot-eks-oidc, run-rac-gcp-deploy, run-rac-kmi-deploy, run-kap-kmi-deploy

revert update of aws-ecr circle version in the txt file for oot-eks
  oot-eks/pre-oidc-orb_v2.30.txt
Due: run-oot-eks

pin to docker 23
  .circleci/continue_config.yml
Due: none

revert version back to see if it still works;
  asp-deploy/orb.yml
Due: run-asp-deploy

revert changing for every action
  gcp-rotate-keys/orb.yml
  jaws-journey-deploy/orb.yml
  kap-kmi-deploy/orb.yml
  oot-eks-oidc/orb.yml
  oot-eks/orb.yml
  rac-gcp-deploy/orb.yml
  rac-kmi-deploy/orb.yml
Due: run-gcp-rotate-keys, run-jaws-journey-deploy, run-oot-eks, run-oot-eks-oidc, run-rac-gcp-deploy, run-rac-kmi-deploy, run-kap-kmi-deploy

try again with latest version
  rac-kmi-deploy/orb.yml
Due: run-rac-kmi-deploy

refactored orb command required from version update
  rac-kmi-deploy/orb.yml
Due: run-rac-kmi-deploy

bumped to latest orb for rac-gcp-deploy
  rac-gcp-deploy/orb.yml
Due: run-rac-gcp-deploy

bumped aws-ecr orb versions to latest
  jaws-journey-deploy/orb.yml
  kap-kmi-deploy/orb.yml
  oot-eks-oidc/orb.yml
  oot-eks/orb.yml
Due: run-jaws-journey-deploy, run-oot-eks, run-oot-eks-oidc, run-kap-kmi-deploy

attempt at fixing the errors
  jaws-journey-deploy/orb.yml
  kap-kmi-deploy/orb.yml
  oot-eks-oidc/orb.yml
  oot-eks/orb.yml
Due: run-jaws-journey-deploy, run-oot-eks, run-oot-eks-oidc, run-kap-kmi-deploy

attempt to fix aws-ecr/ecr-login auth error
  oot-eks-oidc/orb.yml
Due: run-oot-eks-oidc

see if this works
  oot-eks-oidc/orb.yml
Due: run-oot-eks-oidc

removed role-arn, see if it still works
  oot-eks-oidc/orb.yml
Due: run-oot-eks-oidc

refactor command names
  oot-eks-oidc/orb.yml
Due: run-oot-eks-oidc

refactored field names to match new version expectations
  oot-eks-oidc/orb.yml
Due: run-oot-eks-oidc

update docker version used
  .circleci/continue_config.yml
Due: none

refactored oot-eks for new version of aws-ecr orb
  oot-eks/orb.yml
Due: run-oot-eks

update oot-eks
  oot-eks/orb.yml
Due: run-oot-eks

update kap-kmi-deploy
  kap-kmi-deploy/orb.yml
Due: run-kap-kmi-deploy

fix jaws-journey-deploy orb
  jaws-journey-deploy/orb.yml
Due: run-jaws-journey-deploy

try fixing
  jaws-journey-deploy/orb.yml
Due: run-jaws-journey-deploy

configured auth for ecr push orb commands
  jaws-journey-deploy/orb.yml
Due: run-jaws-journey-deploy

update gcp
  gcp-rotate-keys/orb.yml
Due: run-gcp-rotate-keys

refactor gcp initialize to setup
  gcp-rotate-keys/orb.yml
Due: run-gcp-rotate-keys

revert the setup_remote_docker for continue_config
  .circleci/continue_config.yml
Due: none

update docker version used (#622)
  .circleci/continue_config.yml
Due: none

revert oot and kap changes, will be deprecated alter
  kap-kmi-deploy/orb.yml
  oot-eks-oidc/orb.yml
  oot-eks/orb.yml
Due: run-oot-eks, run-oot-eks-oidc, run-kap-kmi-deploy

bumped patch versions in version.txt
  gcp-rotate-keys/orb_version.txt
  jaws-journey-deploy/orb_version.txt
  rac-gcp-deploy/orb_version.txt
  rac-kmi-deploy/orb_version.txt
Due: run-gcp-rotate-keys, run-jaws-journey-deploy, run-rac-gcp-deploy, run-rac-kmi-deploy

version updates (#621)
  gcp-rotate-keys/orb.yml
  gcp-rotate-keys/orb_version.txt
  jaws-journey-deploy/orb.yml
  jaws-journey-deploy/orb_version.txt
  rac-gcp-deploy/orb.yml
  rac-gcp-deploy/orb_version.txt
  rac-kmi-deploy/orb.yml
  rac-kmi-deploy/orb_version.txt
Due: run-gcp-rotate-keys, run-jaws-journey-deploy, run-rac-gcp-deploy, run-rac-kmi-deploy

fix: jaws pipeline environment variables are missing dollar sign
  jaws-journey-deploy/orb.yml
  jaws-journey-deploy/orb_version.txt
Due: run-jaws-journey-deploy

fix: jaws build path should be identical to path
  jaws-journey-deploy/orb.yml
  jaws-journey-deploy/orb_version.txt
Due: run-jaws-journey-deploy

Default lib-build-and-test and integration-test jobs to using ubuntu-2004:current instead of an older 20.04 image that's no longer available
  jaws-journey-deploy/changelog.md
  jaws-journey-deploy/orb.yml
  jaws-journey-deploy/orb_version.txt
Due: run-jaws-journey-deploy

Update CODEOWNERS
  .github/CODEOWNERS
Due: none

fix: [CGI-31905] Add missing Github nuget cred
  build-utilities/orb.yml
Due: run-build-utilities

Add v2 kafka users v2.2.0
  terraform-v2/CHANGELOG.md
  terraform/CHANGELOG.md
  terraform/executor/Dockerfile
  terraform/executor/Dockerfile-0.12
  terraform/executor/Dockerfile-0.12-slim
  terraform/executor/Dockerfile-0.13
Due: run-terraform, run-terraform-v2

Bump orb versions
  terraform-v2/orb_version.txt
  terraform/orb_version.txt
Due: run-terraform, run-terraform-v2

Add terraform-v2 codeowner
  .github/CODEOWNERS
Due: none

Path conditions:
  run-argocd: any of: argocd/.*
  run-asp-deploy: any of: asp-deploy/.*
  run-aws-configure-credentials-oidc: any of: aws-configure-credentials-oidc/.*
  run-aws-get-parameters: any of: aws-get-parameters/.*
  run-aws-rotate-keys: any of: aws-rotate-keys/.*
  run-clair-scanner: any of: clair-scanner/.*
  run-clojure: any of: clojure/.*
  run-comms-commands: any of: comms-commands/.*
  run-gcp-rotate-keys: any of: gcp-rotate-keys/.*
  run-gitops: any of: gitops/.*
  run-helm-ci: any of: helm-ci/.*
  run-ipa-deploy: any of: ipa-deploy/.*
  run-jaws-journey-deploy: any of: jaws-journey-deploy/.*
  run-oot-deploy: any of: oot-deploy/.*
  run-oot-eks: any of: oot-eks/.*
  run-oot-eks-oidc: any of: oot-eks-oidc/.*
  run-pipeline-utils: any of: pipeline-utils/.*
  run-rac-gcp-deploy: any of: rac-gcp-deploy/.*
  run-rac-kmi-deploy: any of: rac-kmi-deploy/.*
  run-realm: any of: realm/.*
  run-sast: any of: sast/.*
  run-sbt-deploy: any of: sbt-deploy/.*
  run-set-current-environment: any of: set-current-environment/.*
  run-setup-scheduled-pipeline: any of: setup-scheduled-pipeline/.*
  run-ssh-proxy: any of: ssh-proxy/.*
  run-telemetry: any of: telemetry/.*
  run-terraform: any of: terraform/.*
  run-terraform-registry: any of: terraform-registry/.*
  run-terraform-v2: any of: terraform-v2/.*
  run-tools: any of: tools/.*
  run-tools-install: any of: tools-install/.*
  run-versioned-lambda: any of: versioned-lambda/.*
  run-with-git-deploy-key: any of: with-git-deploy-key/.*
  run-kap-kmi-deploy: any of: kap-kmi-deploy/.*
  run-build-utilities: any of: build-utilities/.*
  run-jira: any of: jira/.*
  run-github-actions: any of: github-actions/.*
  run-gcp-oidc-auth: any of: gcp-oidc-auth/.*
  run-release-notes: any of: release-notes/.*
