Repository ovotech/circleci-orbs: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-argocd, run-asp-deploy, run-aws-configure-credentials-oidc, run-aws-get-parameters, run-aws-rotate-keys, run-clair-scanner, run-clojure, run-comms-commands, run-gcp-rotate-keys, run-helm-ci, run-jaws-journey-deploy, run-oot-deploy, run-oot-eks, run-pipeline-utils, run-rac-gcp-deploy, run-rac-kmi-deploy, run-sbt-deploy, run-set-current-environment, run-ssh-proxy, run-terraform, run-terraform-v2, run-tools, run-tools-install, run-versioned-lambda, run-with-git-deploy-key

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.0.2

workflows:
  setup-workflow:
    jobs:
      - path-filtering/filter:
          config-path: .circleci/continue_config.yml
          base-revision: master
          mapping: |
            argocd/.* run-argocd true
            asp-deploy/.* run-asp-deploy true
            aws-configure-credentials-oidc/.* run-aws-configure-credentials-oidc true
            aws-get-parameters/.* run-aws-get-parameters true
            aws-rotate-keys/.* run-aws-rotate-keys true
            clair-scanner/.* run-clair-scanner true
            clojure/.* run-clojure true
            comms-commands/.* run-comms-commands true
            gcp-rotate-keys/.* run-gcp-rotate-keys true
            helm-ci/.* run-helm-ci true
            jaws-journey-deploy/.* run-jaws-journey-deploy true
            oot-deploy/.* run-oot-deploy true
            oot-eks/.* run-oot-eks true
            pipeline-utils/.* run-pipeline-utils true
            rac-gcp-deploy/.* run-rac-gcp-deploy true
            rac-kmi-deploy/.* run-rac-kmi-deploy true
            sbt-deploy/.* run-sbt-deploy true
            set-current-environment/.* run-set-current-environment true
            ssh-proxy/.* run-ssh-proxy true
            terraform/.* run-terraform true
            terraform-v2/.* run-terraform-v2 true
            tools/.* run-tools true
            tools-install/.* run-tools-install true
            versioned-lambda/.* run-versioned-lambda true
            with-git-deploy-key/.* run-with-git-deploy-key true

Bump kafka users tf provider to 1.0.8
  terraform-v2/CHANGELOG.md
  terraform-v2/orb_version.txt
  terraform/CHANGELOG.md
  terraform/executor/Dockerfile
  terraform/executor/Dockerfile-0.11
  terraform/executor/Dockerfile-0.12
  terraform/executor/Dockerfile-0.12-slim
  terraform/orb_version.txt
Due: run-terraform, run-terraform-v2

Bump kafka users tf provider to 1.0.8
  terraform/executor/Dockerfile-0.13
Due: run-terraform

Revert back to original repo for tfswitch and get latest version (0.13.1221)
  terraform-v2/CHANGELOG.md
  terraform-v2/orb_version.txt
  terraform/CHANGELOG.md
  terraform/executor/Dockerfile
  terraform/executor/Dockerfile-0.11
  terraform/executor/Dockerfile-0.12
  terraform/executor/Dockerfile-0.12-slim
  terraform/executor/Dockerfile-0.13
  terraform/orb_version.txt
Due: run-terraform, run-terraform-v2

Add missing add section
  terraform/CHANGELOG.md
Due: run-terraform

Bump kafka users tf provider to 1.0.8 (#431)
  terraform-v2/CHANGELOG.md
  terraform/CHANGELOG.md
  terraform/executor/Dockerfile
  terraform/executor/Dockerfile-0.11
  terraform/executor/Dockerfile-0.12
  terraform/executor/Dockerfile-0.12-slim
  terraform/executor/Dockerfile-0.13
Due: run-terraform, run-terraform-v2

update tf orb
  jaws-journey-deploy/orb.yml
Due: run-jaws-journey-deploy

update orb version
  jaws-journey-deploy/orb_version.txt
Due: run-jaws-journey-deploy

CPPE addition / modification of CircleCI orb setup-scheduled-pipeline
  setup-scheduled-pipeline/README.md
  setup-scheduled-pipeline/orb.yml
  setup-scheduled-pipeline/orb_version.txt
Due: none

CPPE addition / modification of CircleCI orb setup-scheduled-pipeline
  setup-scheduled-pipeline/orb.yml
Due: none

CPPE addition / modification of CircleCI orb setup-scheduled-pipeline
  setup-scheduled-pipeline/README.md
  setup-scheduled-pipeline/orb.yml
Due: none

CPPE addition / modification of CircleCI orb setup-scheduled-pipeline
  setup-scheduled-pipeline/README.md
Due: none

Adding config to run workflow on new orb
  .circleci/config.yml
  .circleci/continue_config.yml
  .github/CODEOWNERS
  README.md
Due: none

CPPE addition / modification of CircleCI orb setup-scheduled-pipeline
  setup-scheduled-pipeline/orb.yml
  setup-scheduled-pipeline/orb_version.txt
Due: none

CPPE addition / modification of CircleCI orb setup-scheduled-pipeline (#435)
  setup-scheduled-pipeline/orb.yml
  setup-scheduled-pipeline/orb_version.txt
Due: none

CPPE addition / modification of CircleCI orb setup-scheduled-pipeline (#437)
  setup-scheduled-pipeline/README.md
Due: none

fix: snyk scan from failing if CIRCLE_SHA1 not used as tag
  oot-eks/orb.yml
  oot-eks/orb_version.txt
Due: run-oot-eks

fix: terraform/executor/Dockerfile-0.11 to reduce vulnerabilities
  terraform/executor/Dockerfile-0.11
Due: run-terraform

fix: terraform/executor/Dockerfile to reduce vulnerabilities
  terraform/executor/Dockerfile
Due: run-terraform

fix: terraform/executor/Dockerfile-0.13 to reduce vulnerabilities
  terraform/executor/Dockerfile-0.13
Due: run-terraform

fix: terraform/executor/Dockerfile-0.12-slim to reduce vulnerabilities
  terraform/executor/Dockerfile-0.12-slim
Due: run-terraform

CPPE addition / modification of CircleCI orb sast-terraform
  sast-terraform/README.md
  sast-terraform/orb.yml
  sast-terraform/orb_version.txt
Due: none

CPPE addition / modification of CircleCI orb sast-docker
  sast-docker/README.md
  sast-docker/orb.yml
  sast-docker/orb_version.txt
Due: none

CPPE addition / modification of CircleCI orb sast-docker
  sast-docker/orb.yml
Due: none

CPPE addition / modification of CircleCI orb sast-docker
  .circleci/config.yml
  .circleci/continue_config.yml
  .github/CODEOWNERS
  README.md
Due: none
