Repository ovotech/circleci-orbs: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-argocd, run-asp-deploy, run-aws-configure-credentials-oidc, run-aws-get-parameters, run-aws-rotate-keys, run-clair-scanner, run-clojure, run-comms-commands, run-gcp-rotate-keys, run-gitops, run-helm-ci, run-ipa-deploy, run-jaws-journey-deploy, run-oot-deploy, run-oot-eks, run-oot-eks-oidc, run-pipeline-utils, run-rac-gcp-deploy, run-rac-kmi-deploy, run-realm, run-sast, run-sbt-deploy, run-set-current-environment, run-setup-scheduled-pipeline, run-ssh-proxy, run-telemetry, run-terraform, run-terraform-registry, run-terraform-v2, run-tools, run-tools-install, run-versioned-lambda, run-with-git-deploy-key, run-kap-kmi-deploy, run-build-utilities, run-jira, run-github-actions, run-gcp-oidc-auth, run-release-notes

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.0.2

workflows:
  setup-workflow:
    jobs:
      - path-filtering/filter:
          config-path: .circleci/continue_config.yml
          base-revision: master
          mapping: |
            argocd/.* run-argocd true
            asp-deploy/.* run-asp-deploy true
            aws-configure-credentials-oidc/.* run-aws-configure-credentials-oidc true
            aws-get-parameters/.* run-aws-get-parameters true
            aws-rotate-keys/.* run-aws-rotate-keys true
            clair-scanner/.* run-clair-scanner true
            clojure/.* run-clojure true
            comms-commands/.* run-comms-commands true
            gcp-rotate-keys/.* run-gcp-rotate-keys true
            gitops/.* run-gitops true
            helm-ci/.* run-helm-ci true
            ipa-deploy/.* run-ipa-deploy true
            jaws-journey-deploy/.* run-jaws-journey-deploy true
            oot-deploy/.* run-oot-deploy true
            oot-eks/.* run-oot-eks true
            oot-eks-oidc/.* run-oot-eks-oidc true
            pipeline-utils/.* run-pipeline-utils true
            rac-gcp-deploy/.* run-rac-gcp-deploy true
            rac-kmi-deploy/.* run-rac-kmi-deploy true
            realm/.* run-realm true
            sast/.* run-sast true
            sbt-deploy/.* run-sbt-deploy true
            set-current-environment/.* run-set-current-environment true
            setup-scheduled-pipeline/.* run-setup-scheduled-pipeline true
            ssh-proxy/.* run-ssh-proxy true
            telemetry/.* run-telemetry true
            terraform/.* run-terraform true
            terraform-registry/.* run-terraform-registry true
            terraform-v2/.* run-terraform-v2 true
            tools/.* run-tools true
            tools-install/.* run-tools-install true
            versioned-lambda/.* run-versioned-lambda true
            with-git-deploy-key/.* run-with-git-deploy-key true
            kap-kmi-deploy/.* run-kap-kmi-deploy true
            build-utilities/.* run-build-utilities true
            jira/.* run-jira true
            github-actions/.* run-github-actions true
            gcp-oidc-auth/.* run-gcp-oidc-auth true
            release-notes/.* run-release-notes true

hide-terraform-encryption-key
  terraform-v2/github.py
Due: run-terraform-v2

hide-terraform-encryption-key
  terraform-v2/CHANGELOG.md
Due: run-terraform-v2

hide-terraform-encryption-key
  terraform-v2/orb_version.txt
Due: run-terraform-v2

hide-terraform-encryption-key
  terraform-v2/github.py
  terraform-v2/orb_version.txt
Due: run-terraform-v2

hide-terraform-encryption-key
  terraform-v2/github.py
  terraform-v2/orb_version.txt
  terraform-v2/test.py
Due: run-terraform-v2

change node runner version to 20.12.2
  ipa-deploy/orb.yml
Due: run-ipa-deploy

3.0.0 to 4.0.0 ipa deploy
  ipa-deploy/orb_version.txt
Due: run-ipa-deploy

include tf provider v1.9.9
  terraform-v2/CHANGELOG.md
  terraform-v2/orb_version.txt
  terraform/CHANGELOG.md
  terraform/executor/Dockerfile
  terraform/executor/Dockerfile-0.11
  terraform/executor/Dockerfile-0.12
  terraform/executor/Dockerfile-0.12-slim
  terraform/executor/Dockerfile-0.13
  terraform/orb_version.txt
Due: run-terraform, run-terraform-v2

include tf provider v1.9.9 (#608)
  terraform-v2/CHANGELOG.md
  terraform-v2/orb_version.txt
  terraform/CHANGELOG.md
  terraform/executor/Dockerfile
  terraform/executor/Dockerfile-0.11
  terraform/executor/Dockerfile-0.12
  terraform/executor/Dockerfile-0.12-slim
  terraform/executor/Dockerfile-0.13
  terraform/orb_version.txt
Due: run-terraform, run-terraform-v2

CPPE addition / modification of CircleCI orb jira
  jira/orb.yml
Due: run-jira

Replace cr and lf
  terraform-v2/comment_util.py
Due: run-terraform-v2

Restore missing lf
  terraform-v2/comment_util.py
Due: run-terraform-v2

Debug
  terraform-v2/comment_util.py
Due: run-terraform-v2

Replace double backslash
  terraform-v2/comment_util.py
Due: run-terraform-v2

Escape lf
  terraform-v2/comment_util.py
Due: run-terraform-v2

CPPE addition / modification of CircleCI orb github-actions
  github-actions/orb.yml
Due: run-github-actions

add v2 tf aiven kafka users provider versions
  terraform-v2/CHANGELOG.md
  terraform-v2/orb_version.txt
  terraform/CHANGELOG.md
  terraform/executor/Dockerfile
  terraform/executor/Dockerfile-0.12
  terraform/executor/Dockerfile-0.12-slim
  terraform/executor/Dockerfile-0.13
  terraform/orb_version.txt
Due: run-terraform, run-terraform-v2

add v2 tf aiven kafka users provider versions (#611)
  terraform-v2/CHANGELOG.md
  terraform-v2/orb_version.txt
  terraform/CHANGELOG.md
  terraform/executor/Dockerfile
  terraform/executor/Dockerfile-0.12
  terraform/executor/Dockerfile-0.12-slim
  terraform/executor/Dockerfile-0.13
  terraform/orb_version.txt
Due: run-terraform, run-terraform-v2

add terraform provider aiven kafka users v2.1.1 to tf orb executors
  terraform-v2/CHANGELOG.md
  terraform-v2/orb_version.txt
  terraform/CHANGELOG.md
  terraform/executor/Dockerfile
  terraform/executor/Dockerfile-0.12
  terraform/executor/Dockerfile-0.12-slim
  terraform/executor/Dockerfile-0.13
  terraform/orb_version.txt
Due: run-terraform, run-terraform-v2

adding preprod env to jaws-journey-deply orb
  jaws-journey-deploy/orb.yml
Due: run-jaws-journey-deploy

add terraform provider aiven kafka users v2.1.1 to tf orb executors (#612)
  terraform-v2/CHANGELOG.md
  terraform-v2/orb_version.txt
  terraform/CHANGELOG.md
  terraform/executor/Dockerfile
  terraform/executor/Dockerfile-0.12
  terraform/executor/Dockerfile-0.12-slim
  terraform/executor/Dockerfile-0.13
  terraform/orb_version.txt
Due: run-terraform, run-terraform-v2

updating terraform orb
  jaws-journey-deploy/orb.yml
Due: run-jaws-journey-deploy

Add preprod changelog
  jaws-journey-deploy/changelog.md
  jaws-journey-deploy/orb_version.txt
Due: run-jaws-journey-deploy

Dropped debug output that's appearing in Terraform plan text
  terraform-v2/github.py
Due: run-terraform-v2

Updated terraform-v2 version and changelog
  terraform-v2/CHANGELOG.md
  terraform-v2/orb_version.txt
Due: run-terraform-v2

Updates base image
  rac-gcp-deploy/orb.yml
  rac-gcp-deploy/orb_version.txt
Due: run-rac-gcp-deploy

Updates rac-gcp-deploy orb
  rac-kmi-deploy/orb.yml
  rac-kmi-deploy/orb_version.txt
Due: run-rac-kmi-deploy

Avoid printing the Terraform registry token in logs
  terraform-v2/setup.sh
  terraform-v2/test.py
Due: run-terraform-v2

Update orb version and changelog
  terraform-v2/CHANGELOG.md
  terraform-v2/orb_version.txt
Due: run-terraform-v2

Prevent disclosure of registry credentials in logs in the Terraform V2 orb (#618)
  terraform-v2/CHANGELOG.md
  terraform-v2/orb_version.txt
  terraform-v2/setup.sh
  terraform-v2/test.py
Due: run-terraform-v2

Add option to exclude pr comments when no terraform changes are present
  terraform-v2/CHANGELOG.md
  terraform-v2/orb.yml
  terraform-v2/orb_version.txt
  terraform-v2/plan.sh
Due: run-terraform-v2

fix indention
  terraform-v2/orb.yml
Due: run-terraform-v2

fix grep to use plan.txt
  terraform-v2/plan.sh
Due: run-terraform-v2

Use latest rac-gcp-deploy to get newer base image
  rac-kmi-deploy/orb.yml
Due: run-rac-kmi-deploy

Update orb_version.txt
  rac-kmi-deploy/orb_version.txt
Due: run-rac-kmi-deploy
