Repository ovotech/circleci-orbs: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-argocd, run-asp-deploy, run-aws-get-parameters, run-aws-rotate-keys, run-clair-scanner, run-clojure, run-comms-commands, run-gcp-rotate-keys, run-jaws-journey-deploy, run-oot-deploy, run-oot-eks, run-pipeline-utils, run-rac-gcp-deploy, run-sbt-deploy, run-set-current-environment, run-ssh-proxy, run-terraform, run-terraform-v2, run-tools, run-tools-install, run-versioned-lambda, run-with-git-deploy-key

feat: add resource class config
  jaws-journey-deploy/orb.yml
Due: run-jaws-journey-deploy

add to more jobs
  jaws-journey-deploy/orb.yml
  jaws-journey-deploy/orb_version.txt
Due: run-jaws-journey-deploy

add parallelism flag
  jaws-journey-deploy/orb.yml
Due: run-jaws-journey-deploy

Add resource class (#351)
  jaws-journey-deploy/orb.yml
  jaws-journey-deploy/orb_version.txt
Due: run-jaws-journey-deploy

another linebreak required to render code fence
  terraform-v2/comment_util.py
Due: run-terraform-v2

more linebreaks for proper rendering
  terraform-v2/comment_util.py
Due: run-terraform-v2

apply collapsible plan comments to terraform orb
  terraform/comment_util.py
Due: run-terraform

versions and changelogs to 1.11.2
  terraform-v2/CHANGELOG.md
  terraform-v2/orb_version.txt
  terraform/CHANGELOG.md
  terraform/orb_version.txt
Due: run-terraform, run-terraform-v2

Update terraform-v2/CHANGELOG.md
  terraform-v2/CHANGELOG.md
Due: run-terraform-v2

revert collapsible terraform plans
  terraform-v2/CHANGELOG.md
  terraform-v2/comment_util.py
  terraform-v2/orb_version.txt
  terraform/CHANGELOG.md
  terraform/comment_util.py
  terraform/orb_version.txt
Due: run-terraform, run-terraform-v2

revert collapsible terraform plans (#355)
  terraform-v2/CHANGELOG.md
  terraform-v2/comment_util.py
  terraform-v2/orb_version.txt
  terraform/CHANGELOG.md
  terraform/comment_util.py
  terraform/orb_version.txt
Due: run-terraform, run-terraform-v2

Update comment_match to account for new comment formatting
  terraform-v2/comment_util.py
  terraform/comment_util.py
Due: run-terraform, run-terraform-v2

Add python testing to the CI for terraform orbs
  .circleci/continue_config.yml
Due: none

Update comment_util.py tests
  terraform-v2/test_comment_util.py
  terraform/test_comment_util.py
Due: run-terraform, run-terraform-v2

Fix path
  .circleci/continue_config.yml
Due: none

Update versions, changelogs
  terraform-v2/CHANGELOG.md
  terraform-v2/orb_version.txt
  terraform/CHANGELOG.md
  terraform/orb_version.txt
Due: run-terraform, run-terraform-v2

Reimplement collapsible plans
  terraform-v2/comment_util.py
  terraform/comment_util.py
Due: run-terraform, run-terraform-v2

Parameterise the comment templates
  terraform-v2/comment_util.py
  terraform/comment_util.py
Due: run-terraform, run-terraform-v2

Remove first comment template
  terraform-v2/comment_util.py
  terraform-v2/test_comment_util.py
  terraform/comment_util.py
  terraform/test_comment_util.py
Due: run-terraform, run-terraform-v2

Re-enable terraform orb collapsible plans (#354)
  .circleci/continue_config.yml
  terraform-v2/CHANGELOG.md
  terraform-v2/comment_util.py
  terraform-v2/orb_version.txt
  terraform-v2/test_comment_util.py
  terraform/CHANGELOG.md
  terraform/comment_util.py
  terraform/orb_version.txt
  terraform/test_comment_util.py
Due: run-terraform, run-terraform-v2

Make store_jacoco_artifacts optional
  jaws-journey-deploy/README.md
  jaws-journey-deploy/orb.yml
  jaws-journey-deploy/orb_version.txt
Due: run-jaws-journey-deploy

Update version
  jaws-journey-deploy/orb_version.txt
Due: run-jaws-journey-deploy

Make upload jacoco optional
  jaws-journey-deploy/orb.yml
Due: run-jaws-journey-deploy

Increment version
  jaws-journey-deploy/orb_version.txt
Due: run-jaws-journey-deploy

migrate to commands
  jaws-journey-deploy/orb.yml
  jaws-journey-deploy/orb_version.txt
Due: run-jaws-journey-deploy

migrate to commands
  jaws-journey-deploy/orb.yml
Due: run-jaws-journey-deploy

feat: Make service name a parameter for run-automation-test job
  jaws-journey-deploy/orb.yml
  jaws-journey-deploy/scripts/automated_test_run.sh
Due: run-jaws-journey-deploy

Export service name parameter to bash env
  jaws-journey-deploy/orb.yml
  jaws-journey-deploy/scripts/automated_test_run.sh
Due: run-jaws-journey-deploy

Replace serviceName with automatedTestSuite to get default
  jaws-journey-deploy/orb.yml
Due: run-jaws-journey-deploy

Update orb_version.txt
  jaws-journey-deploy/orb_version.txt
Due: run-jaws-journey-deploy

Update README.md
  jaws-journey-deploy/README.md
Due: run-jaws-journey-deploy

Set service name in script
  jaws-journey-deploy/orb.yml
  jaws-journey-deploy/scripts/automated_test_run.sh
Due: run-jaws-journey-deploy

Revert "Merge branch 'choose-automated-test-service-name' of github.com:ovotech/circleci-orbs into choose-automated-test-service-name"
  jaws-journey-deploy/README.md
  jaws-journey-deploy/orb_version.txt
Due: run-jaws-journey-deploy

Revert "Set service name in script"
  jaws-journey-deploy/orb.yml
  jaws-journey-deploy/scripts/automated_test_run.sh
Due: run-jaws-journey-deploy

Update orb.yml
  jaws-journey-deploy/orb.yml
Due: run-jaws-journey-deploy

Path conditions:
  run-argocd: any of: argocd/.*
  run-asp-deploy: any of: asp-deploy/.*
  run-aws-get-parameters: any of: aws-get-parameters/.*
  run-aws-rotate-keys: any of: aws-rotate-keys/.*
  run-clair-scanner: any of: clair-scanner/.*
  run-clojure: any of: clojure/.*
  run-comms-commands: any of: comms-commands/.*
  run-gcp-rotate-keys: any of: gcp-rotate-keys/.*
  run-jaws-journey-deploy: any of: jaws-journey-deploy/.*
  run-oot-deploy: any of: oot-deploy/.*
  run-oot-eks: any of: oot-eks/.*
  run-pipeline-utils: any of: pipeline-utils/.*
  run-rac-gcp-deploy: any of: rac-gcp-deploy/.*
  run-sbt-deploy: any of: sbt-deploy/.*
  run-set-current-environment: any of: set-current-environment/.*
  run-ssh-proxy: any of: ssh-proxy/.*
  run-terraform: any of: terraform/.*
  run-terraform-v2: any of: terraform-v2/.*
  run-tools: any of: tools/.*
  run-tools-install: any of: tools-install/.*
  run-versioned-lambda: any of: versioned-lambda/.*
  run-with-git-deploy-key: any of: with-git-deploy-key/.*
