Repository ovotech/circleci-orbs: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-argocd, run-asp-deploy, run-aws-get-parameters, run-aws-rotate-keys, run-clair-scanner, run-clojure, run-comms-commands, run-gcp-rotate-keys, run-jaws-journey-deploy, run-oot-deploy, run-oot-eks, run-pipeline-utils, run-rac-gcp-deploy, run-sbt-deploy, run-set-current-environment, run-ssh-proxy, run-terraform, run-terraform-v2, run-tools, run-tools-install, run-versioned-lambda, run-with-git-deploy-key

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.0.2

workflows:
  setup-workflow:
    jobs:
      - path-filtering/filter:
          config-path: .circleci/continue_config.yml
          base-revision: master
          mapping: |
            argocd/.* run-argocd true
            asp-deploy/.* run-asp-deploy true
            aws-get-parameters/.* run-aws-get-parameters true
            aws-rotate-keys/.* run-aws-rotate-keys true
            clair-scanner/.* run-clair-scanner true
            clojure/.* run-clojure true
            comms-commands/.* run-comms-commands true
            gcp-rotate-keys/.* run-gcp-rotate-keys true
            jaws-journey-deploy/.* run-jaws-journey-deploy true
            oot-deploy/.* run-oot-deploy true
            oot-eks/.* run-oot-eks true
            pipeline-utils/.* run-pipeline-utils true
            rac-gcp-deploy/.* run-rac-gcp-deploy true
            sbt-deploy/.* run-sbt-deploy true
            set-current-environment/.* run-set-current-environment true
            ssh-proxy/.* run-ssh-proxy true
            terraform/.* run-terraform true
            terraform-v2/.* run-terraform-v2 true
            tools/.* run-tools true
            tools-install/.* run-tools-install true
            versioned-lambda/.* run-versioned-lambda true
            with-git-deploy-key/.* run-with-git-deploy-key true

add kafka users tf provider 1.0.5 to tf orbs (#388)
  terraform-v2/CHANGELOG.md
  terraform-v2/orb_version.txt
  terraform/CHANGELOG.md
  terraform/executor/Dockerfile
  terraform/executor/Dockerfile-0.11
  terraform/executor/Dockerfile-0.12
  terraform/executor/Dockerfile-0.12-slim
  terraform/executor/Dockerfile-0.13
  terraform/orb_version.txt
Due: run-terraform, run-terraform-v2

add reuse_plan
  terraform-v2/apply.sh
  terraform-v2/orb.yml
Due: run-terraform-v2

add reuse_plan
  terraform-v2/orb.yml
Due: run-terraform-v2

add reuse_plan
  terraform-v2/CHANGELOG.md
  terraform-v2/orb_version.txt
  terraform/CHANGELOG.md
  terraform/apply.sh
  terraform/orb_version.txt
Due: run-terraform, run-terraform-v2

add reuse_plan
  terraform/orb.yml
Due: run-terraform

Update terraform/apply.sh
  terraform/apply.sh
Due: run-terraform

add reuse_plan (#390)
  terraform-v2/CHANGELOG.md
  terraform-v2/apply.sh
  terraform-v2/orb.yml
  terraform-v2/orb_version.txt
  terraform/CHANGELOG.md
  terraform/apply.sh
  terraform/orb.yml
  terraform/orb_version.txt
Due: run-terraform, run-terraform-v2

Update image for machine executor
  rac-gcp-deploy/orb.yml
Due: run-rac-gcp-deploy

fix: update snyk
  jaws-journey-deploy/orb.yml
Due: run-jaws-journey-deploy

update orb version
  jaws-journey-deploy/orb_version.txt
Due: run-jaws-journey-deploy

Update orb.yml
  versioned-lambda/orb.yml
Due: run-versioned-lambda

Update image for machine executor (#391)
  rac-gcp-deploy/orb.yml
Due: run-rac-gcp-deploy

bump machine image version
  jaws-journey-deploy/orb.yml
  jaws-journey-deploy/orb_version.txt
Due: run-jaws-journey-deploy

Replace manifest_directory with values_file
  gitops/README.md
  gitops/orb.yml
  gitops/scripts/update_helm.sh
Due: none

Add description
  gitops/README.md
Due: none

Add gitops orb to pipeline
  .circleci/config.yml
  .circleci/continue_config.yml
Due: none

Bump snyk orb version in clojure orb.
  clojure/orb.yml
  clojure/orb_version.txt
Due: run-clojure

Update snyk installation
  rac-gcp-deploy/executor/Dockerfile
  rac-kmi-deploy/executor/Dockerfile
Due: run-rac-gcp-deploy

Update snyk installation (#396)
  rac-gcp-deploy/executor/Dockerfile
  rac-kmi-deploy/executor/Dockerfile
Due: run-rac-gcp-deploy

Add install python dependencies
  gitops/orb.yml
Due: none

Add missing parameters
  gitops/README.md
  gitops/orb.yml
Due: none

Bump docker ubuntu image to 20.04
  oot-eks/orb.yml
Due: run-oot-eks

Not worked, try bumping version too
  oot-eks/orb_version.txt
Due: run-oot-eks

Exit if yq command fails
  gitops/scripts/update_helm.sh
Due: none

Test directory before deleting files
  rac-gcp-deploy/orb.yml
Due: run-rac-gcp-deploy

add uat env
  jaws-journey-deploy/orb.yml
  jaws-journey-deploy/orb_version.txt
Due: run-jaws-journey-deploy

add uat env (#400)
  jaws-journey-deploy/orb.yml
  jaws-journey-deploy/orb_version.txt
Due: run-jaws-journey-deploy

fix: updating code coverage link
  jaws-journey-deploy/orb_version.txt
  jaws-journey-deploy/scripts/get_coverage.py
Due: run-jaws-journey-deploy

Add aiven-kafka-users v1.0.6
  terraform-v2/CHANGELOG.md
  terraform/CHANGELOG.md
  terraform/executor/Dockerfile
  terraform/executor/Dockerfile-0.11
  terraform/executor/Dockerfile-0.12
  terraform/executor/Dockerfile-0.12-slim
  terraform/executor/Dockerfile-0.13
Due: run-terraform, run-terraform-v2

Bump tf orb versions
  terraform-v2/orb_version.txt
  terraform/orb_version.txt
Due: run-terraform, run-terraform-v2

Add aiven kafka users 1.0.6 (#402)
  terraform-v2/CHANGELOG.md
  terraform-v2/orb_version.txt
  terraform/CHANGELOG.md
  terraform/executor/Dockerfile
  terraform/executor/Dockerfile-0.11
  terraform/executor/Dockerfile-0.12
  terraform/executor/Dockerfile-0.12-slim
  terraform/executor/Dockerfile-0.13
  terraform/orb_version.txt
Due: run-terraform, run-terraform-v2

Adding argo_application as a parameter
  gitops/orb.yml
  gitops/scripts/update_helm.sh
Due: none

Fixing typo
  gitops/orb.yml
Due: none

Added publish-image-kmi job.
  jaws-journey-deploy/orb.yml
  jaws-journey-deploy/orb_version.txt
Due: run-jaws-journey-deploy

update machine
  jaws-journey-deploy/orb.yml
Due: run-jaws-journey-deploy

Build repo in orb rather than pass as parameter.
  jaws-journey-deploy/orb.yml
Due: run-jaws-journey-deploy

Build and push image rather than just push.
  jaws-journey-deploy/orb.yml
Due: run-jaws-journey-deploy

Added KMI publish job.
  jaws-journey-deploy/orb.yml
Due: run-jaws-journey-deploy

Added KMI publish command.
  jaws-journey-deploy/orb.yml
Due: run-jaws-journey-deploy
