Repository ovotech/circleci-orbs: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-argocd, run-asp-deploy, run-aws-get-parameters, run-aws-rotate-keys, run-clair-scanner, run-clojure, run-comms-commands, run-gcp-rotate-keys, run-jaws-journey-deploy, run-oot-deploy, run-oot-eks, run-pipeline-utils, run-rac-gcp-deploy, run-sbt-deploy, run-set-current-environment, run-ssh-proxy, run-terraform, run-terraform-v2, run-tools, run-tools-install, run-versioned-lambda, run-with-git-deploy-key

Added undefined to environment enum.
  jaws-journey-deploy/orb.yml
Due: run-jaws-journey-deploy

Add orb to authenticating via CircleCI OIDC
  .circleci/config.yml
  .circleci/continue_config.yml
  .github/CODEOWNERS
  README.md
  aws-configure-credentials-oidc/README.md
  aws-configure-credentials-oidc/orb.yml
Due: none

Update CODEOWNERS
  .github/CODEOWNERS
Due: none

Add IPA team deployment orb
  .circleci/config.yml
  .circleci/continue_config.yml
  .github/CODEOWNERS
  README.md
  ipa-deploy/README.md
  ipa-deploy/orb.yml
  ipa-deploy/orb_version.txt
Due: none

Fix validation errors
  ipa-deploy/orb.yml
Due: none

Use single quotes over double
  ipa-deploy/orb.yml
Due: none

Bump version
  ipa-deploy/README.md
  ipa-deploy/orb_version.txt
Due: none

Extracted update-helm to command with job wrapper. Added wait_for param.
  gitops/orb.yml
  gitops/orb_version.txt
Due: none

Match helm-ci orb version to published version
  helm-ci/README.md
  helm-ci/orb_version.txt
Due: none

Add job name into example
  helm-ci/README.md
Due: none

Use smaller executor
  helm-ci/orb.yml
Due: none

Bump version and add changelog
  helm-ci/CHANGELOG.md
  helm-ci/README.md
  helm-ci/orb_version.txt
Due: none

allow tags to be specified when building/pushing with oot-eks
  oot-eks/orb.yml
  oot-eks/orb_version.txt
Due: run-oot-eks

Add diff friendly plan
  terraform-v2/plan.sh
  terraform/comment_util.py
Due: run-terraform, run-terraform-v2

Adding new cppe orb for running sast on terraform
  .circleci/config.yml
  .circleci/continue_config.yml
  .github/CODEOWNERS
  README.md
  sast-terraform/README.md
  sast-terraform/orb.yml
  sast-terraform/orb_version.txt
Due: none

Correcting ci config error
  .circleci/config.yml
Due: none

RNC-2527: support configuring which value contains the version
  rac-kmi-deploy/orb.yml
  rac-kmi-deploy/orb_version.txt
Due: none

Adding CR changes
  sast-terraform/README.md
  sast-terraform/orb.yml
Due: none

Update readme and add version
  aws-configure-credentials-oidc/README.md
  aws-configure-credentials-oidc/orb_version.txt
Due: none

Improve resource names
  aws-configure-credentials-oidc/README.md
Due: none

RNC-2527: allow build to configure rac-kmi-gitops target folder
  rac-kmi-deploy/orb.yml
Due: none

RNC-2527: correct <<>> delimiters for kmi-application-name parameter
  rac-kmi-deploy/orb.yml
Due: none

Bump version
  aws-configure-credentials-oidc/orb_version.txt
Due: none

RNC-2527: support configuring which value contains the version (#413)
  rac-kmi-deploy/orb.yml
  rac-kmi-deploy/orb_version.txt
Due: none

Changin up mktemp command
  sast-terraform/orb.yml
Due: none

Tweak example job name
  README.md
  helm-ci/README.md
Due: none

Use smaller executor for helm-ci orb (#409)
  README.md
  helm-ci/CHANGELOG.md
  helm-ci/README.md
  helm-ci/orb.yml
  helm-ci/orb_version.txt
Due: none

Correct orb name
  README.md
  helm-ci/orb_version.txt
Due: none

Hardcoding env variable to test something
  jaws-journey-deploy/orb.yml
Due: run-jaws-journey-deploy

Orb is helm-ci, not helm (#414)
  README.md
  helm-ci/orb_version.txt
Due: none

Fix Helm example (#375)
  terraform-v2/README.md
  terraform/README.md
Due: run-terraform, run-terraform-v2

Correcting codeowners
  .github/CODEOWNERS
Due: none

Adding deployment variable to automated tests
  jaws-journey-deploy/orb.yml
Due: run-jaws-journey-deploy

Fixing typo
  jaws-journey-deploy/orb.yml
Due: run-jaws-journey-deploy

snyk scan severity threshold
  jaws-journey-deploy/orb.yml
Due: run-jaws-journey-deploy

fix
  jaws-journey-deploy/orb.yml
Due: run-jaws-journey-deploy

version uprev
  jaws-journey-deploy/orb_version.txt
Due: run-jaws-journey-deploy

Path conditions:
  run-argocd: any of: argocd/.*
  run-asp-deploy: any of: asp-deploy/.*
  run-aws-get-parameters: any of: aws-get-parameters/.*
  run-aws-rotate-keys: any of: aws-rotate-keys/.*
  run-clair-scanner: any of: clair-scanner/.*
  run-clojure: any of: clojure/.*
  run-comms-commands: any of: comms-commands/.*
  run-gcp-rotate-keys: any of: gcp-rotate-keys/.*
  run-jaws-journey-deploy: any of: jaws-journey-deploy/.*
  run-oot-deploy: any of: oot-deploy/.*
  run-oot-eks: any of: oot-eks/.*
  run-pipeline-utils: any of: pipeline-utils/.*
  run-rac-gcp-deploy: any of: rac-gcp-deploy/.*
  run-sbt-deploy: any of: sbt-deploy/.*
  run-set-current-environment: any of: set-current-environment/.*
  run-ssh-proxy: any of: ssh-proxy/.*
  run-terraform: any of: terraform/.*
  run-terraform-v2: any of: terraform-v2/.*
  run-tools: any of: tools/.*
  run-tools-install: any of: tools-install/.*
  run-versioned-lambda: any of: versioned-lambda/.*
  run-with-git-deploy-key: any of: with-git-deploy-key/.*
