Repository ovotech/circleci-orbs: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-argocd, run-asp-deploy, run-aws-get-parameters, run-aws-rotate-keys, run-clair-scanner, run-clojure, run-comms-commands, run-gcp-rotate-keys, run-jaws-journey-deploy, run-oot-deploy, run-oot-eks, run-pipeline-utils, run-rac-gcp-deploy, run-sbt-deploy, run-set-current-environment, run-ssh-proxy, run-terraform, run-terraform-v2, run-tools, run-tools-install, run-versioned-lambda, run-with-git-deploy-key

Use set profile script
  jaws-journey-deploy/orb.yml
  jaws-journey-deploy/scripts/automated_test_run.sh
  jaws-journey-deploy/scripts/set_profile.sh
Due: run-jaws-journey-deploy

New version
  jaws-journey-deploy/orb_version.txt
Due: run-jaws-journey-deploy

Set profile extra script
  jaws-journey-deploy/orb.yml
  jaws-journey-deploy/scripts/set_profile_extra.sh
Due: run-jaws-journey-deploy

Define parameter in place
  jaws-journey-deploy/orb.yml
  jaws-journey-deploy/orb_version.txt
  jaws-journey-deploy/scripts/set_profile_extra.sh
Due: run-jaws-journey-deploy

formatting
  jaws-journey-deploy/orb.yml
Due: run-jaws-journey-deploy

Fix name
  jaws-journey-deploy/orb.yml
Due: run-jaws-journey-deploy

Drop >> BASH_ENV
  jaws-journey-deploy/orb.yml
Due: run-jaws-journey-deploy

Revert "Drop >> BASH_ENV"
  jaws-journey-deploy/orb.yml
Due: run-jaws-journey-deploy

Try something
  jaws-journey-deploy/orb.yml
  jaws-journey-deploy/scripts/automated_test_run.sh
Due: run-jaws-journey-deploy

Try something else
  jaws-journey-deploy/orb.yml
  jaws-journey-deploy/scripts/automated_test_run.sh
Due: run-jaws-journey-deploy

Remove debugging echo
  jaws-journey-deploy/scripts/automated_test_run.sh
Due: run-jaws-journey-deploy

migrate to commands
  jaws-journey-deploy/orb.yml
Due: run-jaws-journey-deploy

README
  jaws-journey-deploy/README.md
  jaws-journey-deploy/scripts/automated_test_run.sh
Due: run-jaws-journey-deploy

update version
  jaws-journey-deploy/orb_version.txt
Due: run-jaws-journey-deploy

Update README.md
  jaws-journey-deploy/README.md
Due: run-jaws-journey-deploy

Update deploy-orb readme (#360)
  jaws-journey-deploy/README.md
Due: run-jaws-journey-deploy

Migrate command (#359)
  jaws-journey-deploy/orb.yml
  jaws-journey-deploy/orb_version.txt
Due: run-jaws-journey-deploy

build build tag flag
  jaws-journey-deploy/orb.yml
  jaws-journey-deploy/scripts/update_helm.sh
Due: run-jaws-journey-deploy

Update build flag (#361)
  jaws-journey-deploy/orb.yml
  jaws-journey-deploy/orb_version.txt
  jaws-journey-deploy/scripts/update_helm.sh
Due: run-jaws-journey-deploy

Allow extra arguments to be passed to docker build from oot-eks orb.
  oot-eks/orb.yml
  oot-eks/orb_version.txt
Due: run-oot-eks

Orb using wrong revision when checking for sync status
  argocd/scripts/test-fixtures/test.synced.json
  argocd/scripts/wait_for_sync.py
Due: run-argocd

Bump orb version
  argocd/orb_version.txt
Due: run-argocd

Bump Argo orb dependency
  jaws-journey-deploy/orb.yml
  jaws-journey-deploy/orb_version.txt
Due: run-jaws-journey-deploy

Add KMI image push step to RaC orb
  rac-gcp-deploy/orb.yml
Due: run-rac-gcp-deploy

Use $ with env variables
  rac-gcp-deploy/orb.yml
Due: run-rac-gcp-deploy

Add KMI image push job to RaC orb
  rac-gcp-deploy/orb.yml
Due: run-rac-gcp-deploy

Update docker image
  rac-gcp-deploy/orb.yml
Due: run-rac-gcp-deploy

Add KMI image push job to RaC orb (#366)
  rac-gcp-deploy/orb.yml
Due: run-rac-gcp-deploy

Add step to update orb version
  rac-gcp-deploy/orb.yml
Due: run-rac-gcp-deploy

Include env in message
  rac-gcp-deploy/orb.yml
Due: run-rac-gcp-deploy

Load workspace and cache
  rac-gcp-deploy/orb.yml
Due: run-rac-gcp-deploy

Add debug logging
  rac-gcp-deploy/orb.yml
Due: run-rac-gcp-deploy

feat: add nightly tag
  jaws-journey-deploy/orb.yml
  jaws-journey-deploy/scripts/create_nightly_tag.sh
Due: run-jaws-journey-deploy

feat: add nightly tag
  jaws-journey-deploy/orb_version.txt
Due: run-jaws-journey-deploy

feat: add nightly tag
  jaws-journey-deploy/orb.yml
Due: run-jaws-journey-deploy

Path conditions:
  run-argocd: any of: argocd/.*
  run-asp-deploy: any of: asp-deploy/.*
  run-aws-get-parameters: any of: aws-get-parameters/.*
  run-aws-rotate-keys: any of: aws-rotate-keys/.*
  run-clair-scanner: any of: clair-scanner/.*
  run-clojure: any of: clojure/.*
  run-comms-commands: any of: comms-commands/.*
  run-gcp-rotate-keys: any of: gcp-rotate-keys/.*
  run-jaws-journey-deploy: any of: jaws-journey-deploy/.*
  run-oot-deploy: any of: oot-deploy/.*
  run-oot-eks: any of: oot-eks/.*
  run-pipeline-utils: any of: pipeline-utils/.*
  run-rac-gcp-deploy: any of: rac-gcp-deploy/.*
  run-sbt-deploy: any of: sbt-deploy/.*
  run-set-current-environment: any of: set-current-environment/.*
  run-ssh-proxy: any of: ssh-proxy/.*
  run-terraform: any of: terraform/.*
  run-terraform-v2: any of: terraform-v2/.*
  run-tools: any of: tools/.*
  run-tools-install: any of: tools-install/.*
  run-versioned-lambda: any of: versioned-lambda/.*
  run-with-git-deploy-key: any of: with-git-deploy-key/.*
