Repository ovotech/circleci-orbs: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-argocd, run-asp-deploy, run-aws-get-parameters, run-aws-rotate-keys, run-clair-scanner, run-clojure, run-comms-commands, run-gcp-rotate-keys, run-jaws-journey-deploy, run-oot-deploy, run-oot-eks, run-pipeline-utils, run-rac-gcp-deploy, run-sbt-deploy, run-set-current-environment, run-ssh-proxy, run-terraform, run-terraform-v2, run-tools, run-tools-install, run-versioned-lambda, run-with-git-deploy-key

Bump orb version
  asp-deploy/orb_version.txt
Due: run-asp-deploy

Fix more of Helm example
  terraform-v2/README.md
  terraform/README.md
Due: run-terraform, run-terraform-v2

add slack notifications to comms-commands orb
  comms-commands/orb.yml
Due: run-comms-commands

remove anchor (as it cannot be used outside this orb) and pass branch param in
  comms-commands/orb.yml
Due: run-comms-commands

make notification name more explicit
  comms-commands/orb.yml
Due: run-comms-commands

Add kafka-users v1.0.4 to tf executors
  terraform-v2/CHANGELOG.md
  terraform/CHANGELOG.md
  terraform/executor/Dockerfile
  terraform/executor/Dockerfile-0.11
  terraform/executor/Dockerfile-0.12
  terraform/executor/Dockerfile-0.12-slim
  terraform/executor/Dockerfile-0.13
Due: run-terraform, run-terraform-v2

Bump orb versions
  terraform-v2/orb_version.txt
  terraform/orb_version.txt
Due: run-terraform, run-terraform-v2

Update orb.yml
  jaws-journey-deploy/orb.yml
Due: run-jaws-journey-deploy

parameterise image
  jaws-journey-deploy/orb.yml
Due: run-jaws-journey-deploy

Add kafka users 1.0.4 (#380)
  terraform-v2/CHANGELOG.md
  terraform-v2/orb_version.txt
  terraform/CHANGELOG.md
  terraform/executor/Dockerfile
  terraform/executor/Dockerfile-0.11
  terraform/executor/Dockerfile-0.12
  terraform/executor/Dockerfile-0.12-slim
  terraform/executor/Dockerfile-0.13
  terraform/orb_version.txt
Due: run-terraform, run-terraform-v2

Pull just before pushing new tag
  asp-deploy/orb.yml
Due: run-asp-deploy

Add retries
  asp-deploy/orb.yml
  asp-deploy/orb_version.txt
Due: run-asp-deploy

feat: add ability to pass in the backend config location
  jaws-journey-deploy/orb.yml
  jaws-journey-deploy/orb_version.txt
Due: run-jaws-journey-deploy

breaking change
  jaws-journey-deploy/orb.yml
Due: run-jaws-journey-deploy

Support passing in of Terraform variables file directory location.
  jaws-journey-deploy/orb.yml
Due: run-jaws-journey-deploy

Readded default value for default_config_file and bumped orb version.
  jaws-journey-deploy/orb.yml
Due: run-jaws-journey-deploy

Bumped orb version.
  jaws-journey-deploy/orb.yml
  jaws-journey-deploy/orb_version.txt
Due: run-jaws-journey-deploy

Version had already been bumped so reverting back.
  jaws-journey-deploy/orb_version.txt
Due: run-jaws-journey-deploy

bump orb minor version
  jaws-journey-deploy/orb_version.txt
Due: run-jaws-journey-deploy

change to minor version bump instead of major
  jaws-journey-deploy/orb_version.txt
Due: run-jaws-journey-deploy

RNC-2519: R&C orb for KMI deployments
  .circleci/config.yml
  .circleci/continue_config.yml
  rac-kmi-deploy/README.md
  rac-kmi-deploy/executor/Dockerfile
  rac-kmi-deploy/orb.yml
Due: none

RNC-2519: correct orb reference to rac-gcp-deploy
  rac-kmi-deploy/orb.yml
Due: none

RNC-2519: ensure curl is available during docker install
  rac-kmi-deploy/executor/Dockerfile
Due: none

RNC-2519: remove unused registry-url parameter
  rac-kmi-deploy/orb.yml
Due: none

RNC-2519: use more generic alias for team's core orb
  rac-kmi-deploy/orb.yml
Due: none

[RNC-2519] Define docker executor
  rac-kmi-deploy/orb.yml
Due: none

[RNC-2519] Add snyk to docker image
  rac-kmi-deploy/executor/Dockerfile
Due: none

[RNC-2519] Add orb version file
  rac-kmi-deploy/orb_version.txt
Due: none

RNC-2519: R&C orb for KMI deployments (#384)
  .circleci/config.yml
  .circleci/continue_config.yml
  rac-kmi-deploy/README.md
  rac-kmi-deploy/executor/Dockerfile
  rac-kmi-deploy/orb.yml
  rac-kmi-deploy/orb_version.txt
Due: none

Update sbt to 1.6.2
  rac-gcp-deploy/executor/Dockerfile
Due: run-rac-gcp-deploy

Update to jdk11
  rac-gcp-deploy/executor/Dockerfile
Due: run-rac-gcp-deploy

Add orb version file
  rac-gcp-deploy/orb_version.txt
Due: run-rac-gcp-deploy

Update path of image tag
  rac-kmi-deploy/orb.yml
  rac-kmi-deploy/orb_version.txt
Due: none

Add reads and consumption as codeowner of rac-kmi-deploy
  .github/CODEOWNERS
Due: none

Update path of image tag (#386)
  rac-kmi-deploy/orb.yml
  rac-kmi-deploy/orb_version.txt
Due: none

Add reads and consumption as codeowner of rac-kmi-deploy (#387)
  .github/CODEOWNERS
Due: none

add kafka users tf provider 1.0.5 to tf orbs
  terraform-v2/CHANGELOG.md
  terraform-v2/orb_version.txt
  terraform/CHANGELOG.md
  terraform/executor/Dockerfile
  terraform/executor/Dockerfile-0.11
  terraform/executor/Dockerfile-0.12
  terraform/executor/Dockerfile-0.12-slim
  terraform/executor/Dockerfile-0.13
  terraform/orb_version.txt
Due: run-terraform, run-terraform-v2

Initial commit for gitops deploy rob
  gitops/README.md
  gitops/orb.yml
  gitops/orb_version.txt
  gitops/scripts/install_yq.sh
  gitops/scripts/update_helm.sh
Due: none

Path conditions:
  run-argocd: any of: argocd/.*
  run-asp-deploy: any of: asp-deploy/.*
  run-aws-get-parameters: any of: aws-get-parameters/.*
  run-aws-rotate-keys: any of: aws-rotate-keys/.*
  run-clair-scanner: any of: clair-scanner/.*
  run-clojure: any of: clojure/.*
  run-comms-commands: any of: comms-commands/.*
  run-gcp-rotate-keys: any of: gcp-rotate-keys/.*
  run-jaws-journey-deploy: any of: jaws-journey-deploy/.*
  run-oot-deploy: any of: oot-deploy/.*
  run-oot-eks: any of: oot-eks/.*
  run-pipeline-utils: any of: pipeline-utils/.*
  run-rac-gcp-deploy: any of: rac-gcp-deploy/.*
  run-sbt-deploy: any of: sbt-deploy/.*
  run-set-current-environment: any of: set-current-environment/.*
  run-ssh-proxy: any of: ssh-proxy/.*
  run-terraform: any of: terraform/.*
  run-terraform-v2: any of: terraform-v2/.*
  run-tools: any of: tools/.*
  run-tools-install: any of: tools-install/.*
  run-versioned-lambda: any of: versioned-lambda/.*
  run-with-git-deploy-key: any of: with-git-deploy-key/.*
