Repository ovotech/circleci-orbs: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-argocd, run-asp-deploy, run-aws-get-parameters, run-aws-rotate-keys, run-clair-scanner, run-clojure, run-comms-commands, run-gcp-rotate-keys, run-jaws-journey-deploy, run-oot-deploy, run-oot-eks, run-pipeline-utils, run-rac-gcp-deploy, run-sbt-deploy, run-set-current-environment, run-ssh-proxy, run-terraform, run-terraform-v2, run-tools, run-tools-install, run-versioned-lambda, run-with-git-deploy-key

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.0.2

workflows:
  setup-workflow:
    jobs:
      - path-filtering/filter:
          config-path: .circleci/continue_config.yml
          base-revision: master
          mapping: |
            argocd/.* run-argocd true
            asp-deploy/.* run-asp-deploy true
            aws-get-parameters/.* run-aws-get-parameters true
            aws-rotate-keys/.* run-aws-rotate-keys true
            clair-scanner/.* run-clair-scanner true
            clojure/.* run-clojure true
            comms-commands/.* run-comms-commands true
            gcp-rotate-keys/.* run-gcp-rotate-keys true
            jaws-journey-deploy/.* run-jaws-journey-deploy true
            oot-deploy/.* run-oot-deploy true
            oot-eks/.* run-oot-eks true
            pipeline-utils/.* run-pipeline-utils true
            rac-gcp-deploy/.* run-rac-gcp-deploy true
            sbt-deploy/.* run-sbt-deploy true
            set-current-environment/.* run-set-current-environment true
            ssh-proxy/.* run-ssh-proxy true
            terraform/.* run-terraform true
            terraform-v2/.* run-terraform-v2 true
            tools/.* run-tools true
            tools-install/.* run-tools-install true
            versioned-lambda/.* run-versioned-lambda true
            with-git-deploy-key/.* run-with-git-deploy-key true

Cat version.txt directly
  rac-gcp-deploy/orb.yml
Due: run-rac-gcp-deploy

Add helm-ci orb
  .circleci/config.yml
  helm-ci/README.md
  helm-ci/executor/Dockerfile
  helm-ci/orb.yml
  helm-ci/orb_version.txt
Due: none

Additional build param
  .circleci/continue_config.yml
Due: none

Add helm ci deploy job
  .circleci/continue_config.yml
Due: none

Remove accidental <
  helm-ci/orb.yml
Due: none

Use test image and correct example
  helm-ci/README.md
  helm-ci/orb.yml
Due: none

Don't use executor
  helm-ci/orb.yml
Due: none

Remove no longer needed executor
  helm-ci/README.md
  helm-ci/executor/Dockerfile
Due: none

Add Helm CI orb (#370)
  .circleci/config.yml
  .circleci/continue_config.yml
  helm-ci/README.md
  helm-ci/orb.yml
  helm-ci/orb_version.txt
Due: none

git_user_email -> git-user-email
  rac-gcp-deploy/README.md
  rac-gcp-deploy/orb.yml
Due: run-rac-gcp-deploy

RNC-2456 Add KMI deployment step to RAC orb (#369)
  rac-gcp-deploy/README.md
  rac-gcp-deploy/orb.yml
Due: run-rac-gcp-deploy

Add newline to tf py
  terraform-v2/apply.sh
Due: run-terraform-v2

Add newlines
  terraform-v2/plan.sh
Due: run-terraform-v2

Remove echo
  terraform-v2/apply.sh
  terraform-v2/plan.sh
Due: run-terraform-v2

Test no newline
  terraform-v2/github.py
  terraform-v2/plan.sh
Due: run-terraform-v2

Re-add newline to github.py
  terraform-v2/github.py
Due: run-terraform-v2

Add newlines to tf orb v1 py
  terraform/apply.sh
  terraform/plan.sh
Due: run-terraform

Bump tf orb versions
  terraform-v2/CHANGELOG.md
  terraform-v2/orb_version.txt
  terraform/CHANGELOG.md
  terraform/orb_version.txt
Due: run-terraform, run-terraform-v2

Add newline to tf py (#353)
  terraform-v2/CHANGELOG.md
  terraform-v2/apply.sh
  terraform-v2/orb_version.txt
  terraform-v2/plan.sh
  terraform/CHANGELOG.md
  terraform/apply.sh
  terraform/orb_version.txt
  terraform/plan.sh
Due: run-terraform, run-terraform-v2

Support passing in a manifest repo
  jaws-journey-deploy/orb.yml
  jaws-journey-deploy/scripts/update_helm.sh
Due: run-jaws-journey-deploy

Set default value in orb.yml
  jaws-journey-deploy/orb.yml
  jaws-journey-deploy/scripts/update_helm.sh
Due: run-jaws-journey-deploy

feat: add nightly tag
  jaws-journey-deploy/scripts/create_nightly_tag.sh
Due: run-jaws-journey-deploy

fix: update tag creation code
  jaws-journey-deploy/scripts/create_nightly_tag.sh
Due: run-jaws-journey-deploy

override snyk token on the build-and-test job
  jaws-journey-deploy/orb.yml
  jaws-journey-deploy/orb_version.txt
Due: run-jaws-journey-deploy

update parameter name
  jaws-journey-deploy/orb.yml
Due: run-jaws-journey-deploy

adding to other jobs
  jaws-journey-deploy/orb.yml
Due: run-jaws-journey-deploy

debugging
  jaws-journey-deploy/orb.yml
Due: run-jaws-journey-deploy

update to cimg image
  jaws-journey-deploy/orb.yml
Due: run-jaws-journey-deploy

trying this
  jaws-journey-deploy/orb.yml
Due: run-jaws-journey-deploy

install dependencies for code coverage
  jaws-journey-deploy/orb.yml
Due: run-jaws-journey-deploy

upgrade pip3 and install dependencies for topology job as well
  jaws-journey-deploy/orb.yml
Due: run-jaws-journey-deploy

update version
  jaws-journey-deploy/orb_version.txt
Due: run-jaws-journey-deploy

need to update gitops job as well
  jaws-journey-deploy/orb.yml
Due: run-jaws-journey-deploy

upgrade pip and refactor this job
  jaws-journey-deploy/orb.yml
Due: run-jaws-journey-deploy

Bump Clojure image to latest next-gen cimg image.
  clojure/orb.yml
  clojure/orb_version.txt
Due: run-clojure

Fix Helm example
  terraform-v2/README.md
  terraform/README.md
Due: run-terraform, run-terraform-v2

Add datadog tags on deployments
  asp-deploy/orb.yml
Due: run-asp-deploy

fixup! Add datadog tags on deployments
  asp-deploy/orb.yml
Due: run-asp-deploy
