Repository ovotech/circleci-orbs: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-argocd, run-asp-deploy, run-aws-configure-credentials-oidc, run-aws-get-parameters, run-aws-rotate-keys, run-clair-scanner, run-clojure, run-comms-commands, run-gcp-rotate-keys, run-gitops, run-helm-ci, run-ipa-deploy, run-jaws-journey-deploy, run-oot-deploy, run-oot-eks, run-oot-eks-oidc, run-pipeline-utils, run-rac-gcp-deploy, run-rac-kmi-deploy, run-realm, run-sast, run-sbt-deploy, run-set-current-environment, run-setup-scheduled-pipeline, run-ssh-proxy, run-terraform, run-terraform-registry, run-terraform-v2, run-tools, run-tools-install, run-versioned-lambda, run-with-git-deploy-key, run-kap-kmi-deploy, run-build-utilities, run-jira, run-github-actions

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.0.2

workflows:
  setup-workflow:
    jobs:
      - path-filtering/filter:
          config-path: .circleci/continue_config.yml
          base-revision: master
          mapping: |
            argocd/.* run-argocd true
            asp-deploy/.* run-asp-deploy true
            aws-configure-credentials-oidc/.* run-aws-configure-credentials-oidc true
            aws-get-parameters/.* run-aws-get-parameters true
            aws-rotate-keys/.* run-aws-rotate-keys true
            clair-scanner/.* run-clair-scanner true
            clojure/.* run-clojure true
            comms-commands/.* run-comms-commands true
            gcp-rotate-keys/.* run-gcp-rotate-keys true
            gitops/.* run-gitops true
            helm-ci/.* run-helm-ci true
            ipa-deploy/.* run-ipa-deploy true
            jaws-journey-deploy/.* run-jaws-journey-deploy true
            oot-deploy/.* run-oot-deploy true
            oot-eks/.* run-oot-eks true
            oot-eks-oidc/.* run-oot-eks-oidc true
            pipeline-utils/.* run-pipeline-utils true
            rac-gcp-deploy/.* run-rac-gcp-deploy true
            rac-kmi-deploy/.* run-rac-kmi-deploy true
            realm/.* run-realm true
            sast/.* run-sast true
            sbt-deploy/.* run-sbt-deploy true
            set-current-environment/.* run-set-current-environment true
            setup-scheduled-pipeline/.* run-setup-scheduled-pipeline true
            ssh-proxy/.* run-ssh-proxy true
            terraform/.* run-terraform true
            terraform-registry/.* run-terraform-registry true
            terraform-v2/.* run-terraform-v2 true
            tools/.* run-tools true
            tools-install/.* run-tools-install true
            versioned-lambda/.* run-versioned-lambda true
            with-git-deploy-key/.* run-with-git-deploy-key true
            kap-kmi-deploy/.* run-kap-kmi-deploy true
            build-utilities/.* run-build-utilities true
            jira/.* run-jira true
            github-actions/.* run-github-actions true

clean up code
  gcp-oidc-auth/orb.yml
Due: none

add GOOGLE_APPLICATION_CREDENTIALS in set-env
  gcp-oidc-auth/orb.yml
Due: none

fix: Add new parameter to provide command dir
  build-utilities/CHANGELOG.md
  build-utilities/orb.yml
  build-utilities/orb_version.txt
Due: run-build-utilities

fix: Add new parameter to provide command dir (#577)
  build-utilities/CHANGELOG.md
  build-utilities/orb.yml
  build-utilities/orb_version.txt
Due: run-build-utilities

feat: Initial release-note orb version for testing
  .circleci/config.yml
  .circleci/continue_config.yml
  .github/CODEOWNERS
  release-notes/CHANGELOG.md
  release-notes/README.md
  release-notes/orb.yml
  release-notes/orb_version.txt
Due: none

temporary target testing branch
  release-notes/orb.yml
Due: none

remove command_dir
  release-notes/orb.yml
Due: none

fix: add missing flag
  release-notes/orb.yml
Due: none

ignore dir creation if exists
  release-notes/orb.yml
Due: none

specify branch temp
  release-notes/orb.yml
Due: none

verify target folder content
  release-notes/orb.yml
Due: none

Switched to copy of content
  release-notes/orb.yml
Due: none

fix: orb updates
  release-notes/orb.yml
Due: none

orb updates
  release-notes/orb.yml
Due: none

fix root
  release-notes/orb.yml
Due: none

Add clone step to publish job
  release-notes/orb.yml
Due: none

verify variable values
  release-notes/orb.yml
Due: none

fixes
  release-notes/orb.yml
Due: none

try fix
  release-notes/orb.yml
Due: none

add quotes
  release-notes/orb.yml
Due: none

f1
  release-notes/orb.yml
Due: none

drop redundant
  release-notes/orb.yml
Due: none

orb cleanup
  release-notes/orb.yml
Due: none

Add documentations
  release-notes/README.md
  release-notes/orb.yml
Due: none

typos
  release-notes/README.md
Due: none

Add Team CPPE as repo owners
  .github/CODEOWNERS
Due: none

Add Team CPPE as repo owners (#579)
  .github/CODEOWNERS
Due: none

feat: add release note orb (#578)
  .circleci/config.yml
  .circleci/continue_config.yml
  .github/CODEOWNERS
  release-notes/CHANGELOG.md
  release-notes/README.md
  release-notes/orb.yml
  release-notes/orb_version.txt
Due: none

set default for the secret names as N/A
  gcp-oidc-auth/orb.yml
Due: none

update codeowners
  .github/CODEOWNERS
Due: none

create a GCP OIDC Auth orb (#576)
  .circleci/config.yml
  .circleci/continue_config.yml
  .github/CODEOWNERS
  gcp-oidc-auth/README.md
  gcp-oidc-auth/orb.yml
  gcp-oidc-auth/orb_version.txt
Due: none

fix: upgrade node
  jaws-journey-deploy/changelog.md
  jaws-journey-deploy/orb.yml
  jaws-journey-deploy/orb_version.txt
Due: run-jaws-journey-deploy

Add serviceName parameter to snyk-scan command and job
  jaws-journey-deploy/orb.yml
Due: run-jaws-journey-deploy

Make argument optional
  jaws-journey-deploy/orb.yml
Due: run-jaws-journey-deploy

Add to changelog
  jaws-journey-deploy/README.md
  jaws-journey-deploy/changelog.md
  jaws-journey-deploy/orb_version.txt
Due: run-jaws-journey-deploy

add snykScanArguments to publish kmi
  jaws-journey-deploy/orb.yml
Due: run-jaws-journey-deploy

new version
  jaws-journey-deploy/orb_version.txt
Due: run-jaws-journey-deploy

Fix incompatible flag usage
  jaws-journey-deploy/orb.yml
Due: run-jaws-journey-deploy

making additional arguments for snyk optional
  jaws-journey-deploy/orb.yml
Due: run-jaws-journey-deploy

adding back sub-projects attribute
  jaws-journey-deploy/orb.yml
  jaws-journey-deploy/orb_version.txt
Due: run-jaws-journey-deploy
