Repository ovotech/circleci-orbs: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-argocd, run-asp-deploy, run-aws-configure-credentials-oidc, run-aws-get-parameters, run-aws-rotate-keys, run-clair-scanner, run-clojure, run-comms-commands, run-gcp-rotate-keys, run-gitops, run-helm-ci, run-ipa-deploy, run-jaws-journey-deploy, run-oot-deploy, run-oot-eks, run-oot-eks-oidc, run-pipeline-utils, run-rac-gcp-deploy, run-rac-kmi-deploy, run-realm, run-sast, run-sbt-deploy, run-set-current-environment, run-setup-scheduled-pipeline, run-ssh-proxy, run-terraform, run-terraform-registry, run-terraform-v2, run-tools, run-tools-install, run-versioned-lambda, run-with-git-deploy-key, run-kap-kmi-deploy, run-build-utilities, run-jira, run-github-actions

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.0.2

workflows:
  setup-workflow:
    jobs:
      - path-filtering/filter:
          config-path: .circleci/continue_config.yml
          base-revision: master
          mapping: |
            argocd/.* run-argocd true
            asp-deploy/.* run-asp-deploy true
            aws-configure-credentials-oidc/.* run-aws-configure-credentials-oidc true
            aws-get-parameters/.* run-aws-get-parameters true
            aws-rotate-keys/.* run-aws-rotate-keys true
            clair-scanner/.* run-clair-scanner true
            clojure/.* run-clojure true
            comms-commands/.* run-comms-commands true
            gcp-rotate-keys/.* run-gcp-rotate-keys true
            gitops/.* run-gitops true
            helm-ci/.* run-helm-ci true
            ipa-deploy/.* run-ipa-deploy true
            jaws-journey-deploy/.* run-jaws-journey-deploy true
            oot-deploy/.* run-oot-deploy true
            oot-eks/.* run-oot-eks true
            oot-eks-oidc/.* run-oot-eks-oidc true
            pipeline-utils/.* run-pipeline-utils true
            rac-gcp-deploy/.* run-rac-gcp-deploy true
            rac-kmi-deploy/.* run-rac-kmi-deploy true
            realm/.* run-realm true
            sast/.* run-sast true
            sbt-deploy/.* run-sbt-deploy true
            set-current-environment/.* run-set-current-environment true
            setup-scheduled-pipeline/.* run-setup-scheduled-pipeline true
            ssh-proxy/.* run-ssh-proxy true
            terraform/.* run-terraform true
            terraform-registry/.* run-terraform-registry true
            terraform-v2/.* run-terraform-v2 true
            tools/.* run-tools true
            tools-install/.* run-tools-install true
            versioned-lambda/.* run-versioned-lambda true
            with-git-deploy-key/.* run-with-git-deploy-key true
            kap-kmi-deploy/.* run-kap-kmi-deploy true
            build-utilities/.* run-build-utilities true
            jira/.* run-jira true
            github-actions/.* run-github-actions true

CPPE addition / modification of CircleCI orb github-actions
  github-actions/orb.yml
Due: run-github-actions

CPPE addition / modification of CircleCI orb github-actions
  github-actions/README.md
  github-actions/orb.yml
Due: run-github-actions

CPPE addition / modification of CircleCI orb terraform-registry
  terraform-registry/orb.yml
  terraform-registry/orb_version.txt
Due: run-terraform-registry

fix: rac-kmi-deploy/executor/Dockerfile to reduce vulnerabilities
  rac-kmi-deploy/executor/Dockerfile
  rac-kmi-deploy/orb_version.txt
Due: run-rac-kmi-deploy

CPPE addition / modification of CircleCI orb telemetry
  telemetry/orb.yml
  telemetry/orb_version.txt
Due: none

CPPE addition / modification of CircleCI orb telemetry (#559)
  telemetry/orb.yml
  telemetry/orb_version.txt
Due: none

CPPE addition / modification of CircleCI orb telemetry
  telemetry/orb_version.txt
Due: none

CPPE addition / modification of CircleCI orb github-actions
  github-actions/orb.yml
  github-actions/orb_version.txt
Due: run-github-actions

CPPE addition / modification of CircleCI orb jira
  jira/orb.yml
  jira/orb_version.txt
Due: run-jira

CPPE addition / modification of CircleCI orb setup-scheduled-pipeline
  setup-scheduled-pipeline/orb.yml
  setup-scheduled-pipeline/orb_version.txt
Due: run-setup-scheduled-pipeline

CPPE addition / modification of CircleCI orb terraform-registry
  terraform-registry/orb.yml
Due: run-terraform-registry

CPPE addition / modification of CircleCI orb sast
  sast/orb.yml
  sast/orb_version.txt
Due: run-sast

CPPE addition / modification of CircleCI orb telemetry (#560)
  telemetry/orb_version.txt
Due: none

CPPE addition / modification of CircleCI orb setup-scheduled-pipeline
  setup-scheduled-pipeline/orb.yml
Due: run-setup-scheduled-pipeline

CPPE addition / modification of CircleCI orb jira
  jira/orb.yml
Due: run-jira

CPPE addition / modification of CircleCI orb sast
  sast/orb.yml
Due: run-sast

CPPE addition / modification of CircleCI orb sast (#503)
  sast/orb.yml
  sast/orb_version.txt
Due: run-sast

CPPE addition / modification of CircleCI orb setup-scheduled-pipeline (#564)
  setup-scheduled-pipeline/orb.yml
  setup-scheduled-pipeline/orb_version.txt
Due: run-setup-scheduled-pipeline

CPPE addition / modification of CircleCI orb github-actions (#562)
  github-actions/orb.yml
  github-actions/orb_version.txt
Due: run-github-actions

CPPE addition / modification of CircleCI orb jira (#561)
  jira/orb.yml
  jira/orb_version.txt
Due: run-jira

CPPE addition / modification of CircleCI orb terraform-registry (#563)
  terraform-registry/orb.yml
  terraform-registry/orb_version.txt
Due: run-terraform-registry

Add fingerprint for rac-daily-reads-kafka-ingestion deploy key
  kap-kmi-deploy/orb.yml
Due: run-kap-kmi-deploy

Bump version
  kap-kmi-deploy/orb_version.txt
Due: run-kap-kmi-deploy
