Repository ovotech/circleci-orbs: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-argocd, run-asp-deploy, run-aws-configure-credentials-oidc, run-aws-get-parameters, run-aws-rotate-keys, run-clair-scanner, run-clojure, run-comms-commands, run-gcp-rotate-keys, run-gitops, run-helm-ci, run-ipa-deploy, run-jaws-journey-deploy, run-oot-deploy, run-oot-eks, run-oot-eks-oidc, run-pipeline-utils, run-rac-gcp-deploy, run-rac-kmi-deploy, run-realm, run-sast, run-sbt-deploy, run-set-current-environment, run-setup-scheduled-pipeline, run-ssh-proxy, run-telemetry, run-terraform, run-terraform-registry, run-terraform-v2, run-tools, run-tools-install, run-versioned-lambda, run-with-git-deploy-key, run-kap-kmi-deploy, run-build-utilities, run-jira, run-github-actions, run-gcp-oidc-auth, run-release-notes

Checkout different branch
  release-notes/orb.yml
Due: run-release-notes

Pass additional parameters
  release-notes/orb.yml
Due: run-release-notes

Update orb.yml
  release-notes/orb.yml
Due: run-release-notes

add-replace-param
  terraform-v2/CHANGELOG.md
  terraform-v2/apply.sh
  terraform-v2/orb.yml
Due: run-terraform-v2

add-replace-param
  terraform-v2/orb_version.txt
Due: run-terraform-v2

add-replace-param (#585)
  terraform-v2/CHANGELOG.md
  terraform-v2/apply.sh
  terraform-v2/orb.yml
  terraform-v2/orb_version.txt
Due: run-terraform-v2

include new kafka users version in terraform orb
  terraform-v2/CHANGELOG.md
  terraform-v2/orb_version.txt
  terraform/CHANGELOG.md
  terraform/executor/Dockerfile
  terraform/executor/Dockerfile-0.11
  terraform/executor/Dockerfile-0.12
  terraform/executor/Dockerfile-0.12-slim
  terraform/executor/Dockerfile-0.13
  terraform/orb_version.txt
Due: run-terraform, run-terraform-v2

re-include missing version
  terraform/executor/Dockerfile
  terraform/executor/Dockerfile-0.11
  terraform/executor/Dockerfile-0.12
  terraform/executor/Dockerfile-0.12-slim
  terraform/executor/Dockerfile-0.13
Due: run-terraform

Include new kafka users v1.1.2 in terraform orb (#586)
  terraform-v2/CHANGELOG.md
  terraform-v2/orb_version.txt
  terraform/CHANGELOG.md
  terraform/executor/Dockerfile
  terraform/executor/Dockerfile-0.11
  terraform/executor/Dockerfile-0.12
  terraform/executor/Dockerfile-0.12-slim
  terraform/executor/Dockerfile-0.13
  terraform/orb_version.txt
Due: run-terraform, run-terraform-v2

fix: upgrade node
  jaws-journey-deploy/changelog.md
  jaws-journey-deploy/orb.yml
  jaws-journey-deploy/orb_version.txt
Due: run-jaws-journey-deploy

Update gcloud in terraform executor image
  terraform/executor/Dockerfile
Due: run-terraform

Update orb_version.txt
  terraform/orb_version.txt
Due: run-terraform

feat: add explicit content-type
  argocd/README.md
  argocd/orb_version.txt
  argocd/scripts/wait_for_sync.py
Due: run-argocd

CPPE addition / modification of CircleCI orb setup-scheduled-pipeline
  setup-scheduled-pipeline/orb.yml
  setup-scheduled-pipeline/orb_version.txt
Due: run-setup-scheduled-pipeline

CPPE addition / modification of CircleCI orb setup-scheduled-pipeline
  setup-scheduled-pipeline/orb.yml
Due: run-setup-scheduled-pipeline

Update Ubuntu machine image to 2024 version
  rac-gcp-deploy/orb.yml
Due: run-rac-gcp-deploy

Update orb.yml
  rac-kmi-deploy/orb.yml
Due: run-rac-kmi-deploy

Update Dockerfile
  rac-gcp-deploy/executor/Dockerfile
Due: run-rac-gcp-deploy

Update kmi dependency
  rac-kmi-deploy/orb.yml
Due: run-rac-kmi-deploy

Bump versions for rac-gcp-deploy
  rac-gcp-deploy/executor/Dockerfile
  rac-gcp-deploy/orb.yml
  rac-gcp-deploy/orb_version.txt
Due: run-rac-gcp-deploy

Remove KMI steps from GCP orb
  rac-gcp-deploy/orb.yml
Due: run-rac-gcp-deploy

Bump Snyk image
  rac-gcp-deploy/orb.yml
Due: run-rac-gcp-deploy

Set versions in kmi deploy orb
  rac-kmi-deploy/orb.yml
  rac-kmi-deploy/orb_version.txt
Due: run-rac-kmi-deploy

Set remote docker image version to default
  rac-gcp-deploy/orb.yml
Due: run-rac-gcp-deploy

CPPE addition / modification of CircleCI orb setup-scheduled-pipeline
  setup-scheduled-pipeline/README.md
  setup-scheduled-pipeline/orb.yml
Due: run-setup-scheduled-pipeline

CPPE addition / modification of CircleCI orb setup-scheduled-pipeline
  setup-scheduled-pipeline/orb_version.txt
Due: run-setup-scheduled-pipeline

CPPE addition / modification of CircleCI orb setup-scheduled-pipeline
  setup-scheduled-pipeline/README.md
Due: run-setup-scheduled-pipeline

CPPE addition / modification of CircleCI orb setup-scheduled-pipeline (#595)
  setup-scheduled-pipeline/README.md
  setup-scheduled-pipeline/orb.yml
  setup-scheduled-pipeline/orb_version.txt
Due: run-setup-scheduled-pipeline

chore: cleanup unused orbs
  oot-deploy/README.md
  oot-deploy/orb.yml
  oot-deploy/orb_version.txt
  oot-eks-oidc/README.md
  oot-eks-oidc/orb.yml
  oot-eks-oidc/orb_version.txt
  oot-eks/README.md
  oot-eks/orb.yml
  oot-eks/orb_version.txt
  oot-eks/pre-oidc-orb_v2.30.txt
Due: run-oot-deploy, run-oot-eks, run-oot-eks-oidc

CPPE addition / modification of CircleCI orb setup-scheduled-pipeline (#597)
  setup-scheduled-pipeline/orb.yml
  setup-scheduled-pipeline/orb_version.txt
Due: run-setup-scheduled-pipeline

Path conditions:
  run-argocd: any of: argocd/.*
  run-asp-deploy: any of: asp-deploy/.*
  run-aws-configure-credentials-oidc: any of: aws-configure-credentials-oidc/.*
  run-aws-get-parameters: any of: aws-get-parameters/.*
  run-aws-rotate-keys: any of: aws-rotate-keys/.*
  run-clair-scanner: any of: clair-scanner/.*
  run-clojure: any of: clojure/.*
  run-comms-commands: any of: comms-commands/.*
  run-gcp-rotate-keys: any of: gcp-rotate-keys/.*
  run-gitops: any of: gitops/.*
  run-helm-ci: any of: helm-ci/.*
  run-ipa-deploy: any of: ipa-deploy/.*
  run-jaws-journey-deploy: any of: jaws-journey-deploy/.*
  run-oot-deploy: any of: oot-deploy/.*
  run-oot-eks: any of: oot-eks/.*
  run-oot-eks-oidc: any of: oot-eks-oidc/.*
  run-pipeline-utils: any of: pipeline-utils/.*
  run-rac-gcp-deploy: any of: rac-gcp-deploy/.*
  run-rac-kmi-deploy: any of: rac-kmi-deploy/.*
  run-realm: any of: realm/.*
  run-sast: any of: sast/.*
  run-sbt-deploy: any of: sbt-deploy/.*
  run-set-current-environment: any of: set-current-environment/.*
  run-setup-scheduled-pipeline: any of: setup-scheduled-pipeline/.*
  run-ssh-proxy: any of: ssh-proxy/.*
  run-telemetry: any of: telemetry/.*
  run-terraform: any of: terraform/.*
  run-terraform-registry: any of: terraform-registry/.*
  run-terraform-v2: any of: terraform-v2/.*
  run-tools: any of: tools/.*
  run-tools-install: any of: tools-install/.*
  run-versioned-lambda: any of: versioned-lambda/.*
  run-with-git-deploy-key: any of: with-git-deploy-key/.*
  run-kap-kmi-deploy: any of: kap-kmi-deploy/.*
  run-build-utilities: any of: build-utilities/.*
  run-jira: any of: jira/.*
  run-github-actions: any of: github-actions/.*
  run-gcp-oidc-auth: any of: gcp-oidc-auth/.*
  run-release-notes: any of: release-notes/.*
