Repository ovotech/circleci-orbs: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-argocd, run-asp-deploy, run-aws-configure-credentials-oidc, run-aws-get-parameters, run-aws-rotate-keys, run-clair-scanner, run-clojure, run-comms-commands, run-gcp-rotate-keys, run-gitops, run-helm-ci, run-ipa-deploy, run-jaws-journey-deploy, run-oot-deploy, run-oot-eks, run-oot-eks-oidc, run-pipeline-utils, run-rac-gcp-deploy, run-rac-kmi-deploy, run-realm, run-sast, run-sbt-deploy, run-set-current-environment, run-setup-scheduled-pipeline, run-ssh-proxy, run-terraform, run-terraform-registry, run-terraform-v2, run-tools, run-tools-install, run-versioned-lambda, run-with-git-deploy-key, run-kap-kmi-deploy, run-build-utilities, run-jira, run-github-actions

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.0.2

workflows:
  setup-workflow:
    jobs:
      - path-filtering/filter:
          config-path: .circleci/continue_config.yml
          base-revision: master
          mapping: |
            argocd/.* run-argocd true
            asp-deploy/.* run-asp-deploy true
            aws-configure-credentials-oidc/.* run-aws-configure-credentials-oidc true
            aws-get-parameters/.* run-aws-get-parameters true
            aws-rotate-keys/.* run-aws-rotate-keys true
            clair-scanner/.* run-clair-scanner true
            clojure/.* run-clojure true
            comms-commands/.* run-comms-commands true
            gcp-rotate-keys/.* run-gcp-rotate-keys true
            gitops/.* run-gitops true
            helm-ci/.* run-helm-ci true
            ipa-deploy/.* run-ipa-deploy true
            jaws-journey-deploy/.* run-jaws-journey-deploy true
            oot-deploy/.* run-oot-deploy true
            oot-eks/.* run-oot-eks true
            oot-eks-oidc/.* run-oot-eks-oidc true
            pipeline-utils/.* run-pipeline-utils true
            rac-gcp-deploy/.* run-rac-gcp-deploy true
            rac-kmi-deploy/.* run-rac-kmi-deploy true
            realm/.* run-realm true
            sast/.* run-sast true
            sbt-deploy/.* run-sbt-deploy true
            set-current-environment/.* run-set-current-environment true
            setup-scheduled-pipeline/.* run-setup-scheduled-pipeline true
            ssh-proxy/.* run-ssh-proxy true
            terraform/.* run-terraform true
            terraform-registry/.* run-terraform-registry true
            terraform-v2/.* run-terraform-v2 true
            tools/.* run-tools true
            tools-install/.* run-tools-install true
            versioned-lambda/.* run-versioned-lambda true
            with-git-deploy-key/.* run-with-git-deploy-key true
            kap-kmi-deploy/.* run-kap-kmi-deploy true
            build-utilities/.* run-build-utilities true
            jira/.* run-jira true
            github-actions/.* run-github-actions true

Show diff when approved and current plans differ
  terraform-v2/apply.sh
  terraform-v2/cmp.py
Due: run-terraform-v2

Remove state lock message
  terraform-v2/apply.sh
Due: run-terraform-v2

Switch off trace mode to simplify output
  terraform-v2/apply.sh
Due: run-terraform-v2

Bump Snyk orb version.
  jaws-journey-deploy/changelog.md
  jaws-journey-deploy/orb.yml
  jaws-journey-deploy/orb_version.txt
Due: run-jaws-journey-deploy

Add parameter to expose a script argument
  build-utilities/README.md
  build-utilities/orb.yml
Due: run-build-utilities

Change namespace and version
  build-utilities/orb_version.txt
Due: run-build-utilities

Updating changelog
  build-utilities/CHANGELOG.md
Due: run-build-utilities

Param fix
  build-utilities/orb.yml
  build-utilities/orb_version.txt
Due: run-build-utilities

Create a new release
  gitops/README.md
Due: run-gitops

generate clean terraform plan with only changes i.e. excluding warnings and "Release state lock." messages
  terraform-v2/apply.sh
  terraform-v2/orb_version.txt
  terraform-v2/plan.sh
Due: run-terraform-v2

Update CODEOWNERS to remove dex
  .github/CODEOWNERS
Due: none

changing to module path before generating plan.txt
  terraform-v2/apply.sh
  terraform-v2/plan.sh
Due: run-terraform-v2

fix terraform plan exit code output to parent shell
  terraform-v2/apply.sh
  terraform-v2/plan.sh
Due: run-terraform-v2

switch to module path to generate plan.txt and then back
  terraform-v2/apply.sh
  terraform-v2/plan.sh
Due: run-terraform-v2

fix: rac-kmi-deploy/executor/Dockerfile to reduce vulnerabilities
  rac-kmi-deploy/executor/Dockerfile
Due: run-rac-kmi-deploy

Increment version
  rac-kmi-deploy/orb_version.txt
Due: run-rac-kmi-deploy

JAWS orb: bump Snyk orb version
  jaws-journey-deploy/changelog.md
  jaws-journey-deploy/orb.yml
  jaws-journey-deploy/orb_version.txt
Due: run-jaws-journey-deploy

fix TF_EXIT value
  terraform-v2/apply.sh
  terraform-v2/plan.sh
Due: run-terraform-v2

fix plan.txt location
  terraform-v2/apply.sh
  terraform-v2/plan.sh
Due: run-terraform-v2

remove redundant cd -
  terraform-v2/apply.sh
Due: run-terraform-v2

add parameter to generate terraform plan without lock state and warnings.
  terraform-v2/apply.sh
  terraform-v2/orb.yml
  terraform-v2/plan.sh
Due: run-terraform-v2

minor version upgrade
  terraform-v2/orb_version.txt
Due: run-terraform-v2

Optionally generate clean terraform plan with only changes (#574)
  terraform-v2/apply.sh
  terraform-v2/orb.yml
  terraform-v2/orb_version.txt
  terraform-v2/plan.sh
Due: run-terraform-v2

create a GCP OIDC Auth orb
  gcp-oidc-auth/README.md
  gcp-oidc-auth/orb.yml
  gcp-oidc-auth/orb_version.txt
Due: none

add orb to circleci workflow
  .circleci/config.yml
  .circleci/continue_config.yml
Due: none

fix gcp cli version to 404.0.0
  gcp-oidc-auth/orb.yml
Due: none

rearrange
  gcp-oidc-auth/orb.yml
Due: none

replace gcp-cli/setup with gcp-cli/install
  gcp-oidc-auth/orb.yml
Due: none

update gcp-cli version to 433.0.1
  gcp-oidc-auth/orb.yml
Due: none

remove secrets command
  gcp-oidc-auth/orb.yml
Due: none

add default gcp sdk executor
  gcp-oidc-auth/orb.yml
Due: none

swap parameter type to string
  gcp-oidc-auth/orb.yml
Due: none

revert: swap parameter type to string
  gcp-oidc-auth/orb.yml
Due: none

missing $ in env var
  gcp-oidc-auth/orb.yml
Due: none

create config_dir first
  gcp-oidc-auth/orb.yml
Due: none

add another step to fetch gcp secrets in a file
  gcp-oidc-auth/orb.yml
Due: none

make the get-gcp-secrets step conditional in bash command
  gcp-oidc-auth/orb.yml
Due: none

bash condition typo
  gcp-oidc-auth/orb.yml
Due: none

added set-environment command to the orb
  gcp-oidc-auth/orb.yml
Due: none
