Repository ovotech/circleci-orbs: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-argocd, run-asp-deploy, run-aws-configure-credentials-oidc, run-aws-get-parameters, run-aws-rotate-keys, run-clair-scanner, run-clojure, run-comms-commands, run-gcp-rotate-keys, run-helm-ci, run-ipa-deploy, run-jaws-journey-deploy, run-oot-deploy, run-oot-eks, run-pipeline-utils, run-rac-gcp-deploy, run-rac-kmi-deploy, run-sast-terraform, run-sast-docker, run-sbt-deploy, run-set-current-environment, run-setup-scheduled-pipeline, run-ssh-proxy, run-terraform, run-terraform-v2, run-tools, run-tools-install, run-versioned-lambda, run-with-git-deploy-key

refactor, using parameter for sync request
  argocd/orb.yml
  argocd/scripts/sync_and_wait.py
  argocd/scripts/sync_and_wait.sh
  argocd/scripts/wait_for_sync.py
  argocd/scripts/wait_for_sync.sh
Due: run-argocd

parameter for argo sync request
  jaws-journey-deploy/orb.yml
Due: run-jaws-journey-deploy

command correction
  jaws-journey-deploy/orb.yml
Due: run-jaws-journey-deploy

flag for sync request
  argocd/scripts/wait_for_sync.py
  argocd/scripts/wait_for_sync.sh
Due: run-argocd

var correction
  argocd/scripts/wait_for_sync.sh
Due: run-argocd

readme
  argocd/README.md
  argocd/orb.yml
Due: run-argocd

removed conditional for sync request
  argocd/README.md
  argocd/orb.yml
  argocd/scripts/wait_for_sync.py
  argocd/scripts/wait_for_sync.sh
Due: run-argocd

removed param
  jaws-journey-deploy/orb.yml
Due: run-jaws-journey-deploy

exit if sync request fails
  argocd/scripts/wait_for_sync.py
Due: run-argocd

conditional sync request
  argocd/orb.yml
  argocd/scripts/wait_for_sync.py
  argocd/scripts/wait_for_sync.sh
Due: run-argocd

readme
  argocd/README.md
  argocd/scripts/wait_for_sync.py
  argocd/scripts/wait_for_sync.sh
Due: run-argocd

readme bump
  jaws-journey-deploy/changelog.md
Due: run-jaws-journey-deploy

python version 3.9
  jaws-journey-deploy/orb.yml
Due: run-jaws-journey-deploy

using argo sync_request
  jaws-journey-deploy/orb.yml
Due: run-jaws-journey-deploy

test boolean
  argocd/scripts/wait_for_sync.sh
Due: run-argocd

sync_request false
  jaws-journey-deploy/orb.yml
Due: run-jaws-journey-deploy

use v2 terraform orb
  jaws-journey-deploy/orb.yml
Due: run-jaws-journey-deploy

sync_request true
  jaws-journey-deploy/orb.yml
Due: run-jaws-journey-deploy

bump version
  jaws-journey-deploy/orb_version.txt
Due: run-jaws-journey-deploy

description correction
  argocd/orb.yml
Due: run-argocd

use v2 terraform orb (#495)
  jaws-journey-deploy/orb.yml
  jaws-journey-deploy/orb_version.txt
Due: run-jaws-journey-deploy

Masc 410 argo sync request (#493)
  argocd/README.md
  argocd/orb.yml
  argocd/orb_version.txt
  argocd/scripts/wait_for_sync.py
  argocd/scripts/wait_for_sync.sh
Due: run-argocd

argocd 1.1.0
  jaws-journey-deploy/changelog.md
  jaws-journey-deploy/orb.yml
Due: run-jaws-journey-deploy

deploy again
  gitops/README.md
Due: none

sync request parameter
  jaws-journey-deploy/changelog.md
  jaws-journey-deploy/orb.yml
Due: run-jaws-journey-deploy

[OMP-1763] Add AWS OIDC login support to jaws-journey-deploy/run-automation-test
  jaws-journey-deploy/orb.yml
Due: run-jaws-journey-deploy

Bump jaws-journey-deploy orb version
  jaws-journey-deploy/orb_version.txt
Due: run-jaws-journey-deploy

using argo1.1.0 (#494)
  jaws-journey-deploy/changelog.md
  jaws-journey-deploy/orb.yml
Due: run-jaws-journey-deploy

fix: allow var to be defined as well
  jaws-journey-deploy/orb.yml
  jaws-journey-deploy/orb_version.txt
Due: run-jaws-journey-deploy

Remove serverless alerts
  ipa-deploy/README.md
  ipa-deploy/orb.yml
  ipa-deploy/orb_version.txt
Due: run-ipa-deploy

Add npm ci step for IPA orb
  ipa-deploy/README.md
  ipa-deploy/orb.yml
  ipa-deploy/orb_version.txt
Due: run-ipa-deploy

closes #500 add path label to fmt-check step name
  terraform-v2/CHANGELOG.md
  terraform-v2/orb.yml
  terraform-v2/orb_version.txt
Due: run-terraform-v2

closes #500 add path label to fmt-check step name (#501)
  terraform-v2/CHANGELOG.md
  terraform-v2/orb.yml
  terraform-v2/orb_version.txt
Due: run-terraform-v2

CPPE addition / modification of CircleCI orb terraform-registry
  terraform-registry/README.md
  terraform-registry/orb.yml
  terraform-registry/orb_version.txt
Due: none

CPPE addition / modification of CircleCI orb terraform-registry
  terraform-registry/orb.yml
Due: none

Added Orb CircleCI config and ownership for the CPPE Terraform Registry Orb
  .circleci/config.yml
  .circleci/continue_config.yml
  .github/CODEOWNERS
Due: none

Update config.yml
  .circleci/config.yml
Due: none

CPPE addition / modification of CircleCI orb sast
  sast/README.md
  sast/orb_version.txt
Due: none

Path conditions:
  run-argocd: any of: argocd/.*
  run-asp-deploy: any of: asp-deploy/.*
  run-aws-configure-credentials-oidc: any of: aws-configure-credentials-oidc/.*
  run-aws-get-parameters: any of: aws-get-parameters/.*
  run-aws-rotate-keys: any of: aws-rotate-keys/.*
  run-clair-scanner: any of: clair-scanner/.*
  run-clojure: any of: clojure/.*
  run-comms-commands: any of: comms-commands/.*
  run-gcp-rotate-keys: any of: gcp-rotate-keys/.*
  run-helm-ci: any of: helm-ci/.*
  run-ipa-deploy: any of: ipa-deploy/.*
  run-jaws-journey-deploy: any of: jaws-journey-deploy/.*
  run-oot-deploy: any of: oot-deploy/.*
  run-oot-eks: any of: oot-eks/.*
  run-pipeline-utils: any of: pipeline-utils/.*
  run-rac-gcp-deploy: any of: rac-gcp-deploy/.*
  run-rac-kmi-deploy: any of: rac-kmi-deploy/.*
  run-sast-terraform: any of: sast-terraform/.*
  run-sast-docker: any of: sast-docker/.*
  run-sbt-deploy: any of: sbt-deploy/.*
  run-set-current-environment: any of: set-current-environment/.*
  run-setup-scheduled-pipeline: any of: setup-scheduled-pipeline/.*
  run-ssh-proxy: any of: ssh-proxy/.*
  run-terraform: any of: terraform/.*
  run-terraform-v2: any of: terraform-v2/.*
  run-tools: any of: tools/.*
  run-tools-install: any of: tools-install/.*
  run-versioned-lambda: any of: versioned-lambda/.*
  run-with-git-deploy-key: any of: with-git-deploy-key/.*
