Repository ovotech/circleci-orbs: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-argocd, run-asp-deploy, run-aws-get-parameters, run-aws-rotate-keys, run-clair-scanner, run-clojure, run-comms-commands, run-gcp-rotate-keys, run-jaws-journey-deploy, run-oot-deploy, run-oot-eks, run-pipeline-utils, run-rac-gcp-deploy, run-sbt-deploy, run-set-current-environment, run-ssh-proxy, run-terraform, run-terraform-v2, run-tools, run-tools-install, run-versioned-lambda, run-with-git-deploy-key

Bump aws cli version.
  aws-rotate-keys/orb.yml
Due: run-aws-rotate-keys

remove quotes from the tag when pushing
  jaws-journey-deploy/scripts/update_helm.sh
Due: run-jaws-journey-deploy

bump jaws-journey-deploy to 1.11.7
  jaws-journey-deploy/orb_version.txt
Due: run-jaws-journey-deploy

Comms orb - call terraform plan/apply default jobs with module name
  comms-commands/orb.yml
Due: run-comms-commands

Comms orb - call terraform plan/apply default jobs with module name (#328)
  comms-commands/orb.yml
Due: run-comms-commands

Added changelog, updated readme and added orb_version.txt.
  README.md
  aws-rotate-keys/CHANGELOG.md
  aws-rotate-keys/orb_version.txt
Due: run-aws-rotate-keys

add wait_for_ecs_deployment command
  comms-commands/orb.yml
  comms-commands/restart_ecs_service.sh
Due: run-comms-commands

fix name
  comms-commands/orb.yml
Due: run-comms-commands

Bump aws cli version. (#326)
  README.md
  aws-rotate-keys/CHANGELOG.md
  aws-rotate-keys/orb.yml
  aws-rotate-keys/orb_version.txt
Due: run-aws-rotate-keys

Implement path filtering on circle ci (#323)
  .circleci/config.yml
  .circleci/continue_config.yml
  README.md
Due: none

Test path filtering
  terraform-v2/plan.sh
Due: run-terraform-v2

add ecr_login command
  comms-commands/orb.yml
Due: run-comms-commands

Command to write down aws credentials file
  comms-commands/orb.yml
Due: run-comms-commands

Command to write down aws credentials file (#333)
  comms-commands/orb.yml
Due: run-comms-commands

Add Aiven Kafka Users v1.0.3
  terraform/CHANGELOG.md
  terraform/executor/Dockerfile
  terraform/executor/Dockerfile-0.11
  terraform/executor/Dockerfile-0.12
  terraform/executor/Dockerfile-0.12-slim
  terraform/executor/Dockerfile-0.13
  terraform/orb_version.txt
Due: run-terraform

Change executor to use dev executor
  terraform-v2/orb.yml
Due: run-terraform-v2

Revert "Change executor to use dev executor"
  terraform-v2/orb.yml
Due: run-terraform-v2

Revert "Revert "Change executor to use dev executor""
  terraform-v2/orb.yml
Due: run-terraform-v2

Add init_reconfigure yes/no parameter
  terraform-v2/init.sh
  terraform-v2/orb.yml
Due: run-terraform-v2

Tf kafka users 1.0.2 (#280)
  terraform-v2/CHANGELOG.md
  terraform-v2/orb_version.txt
  terraform/CHANGELOG.md
  terraform/executor/Dockerfile
  terraform/executor/Dockerfile-0.11
  terraform/executor/Dockerfile-0.12
  terraform/executor/Dockerfile-0.12-slim
  terraform/executor/Dockerfile-0.13
  terraform/orb_version.txt
Due: run-terraform, run-terraform-v2

Use difflib for a slightly more helpful cmp.py
  terraform-v2/cmp.py
Due: run-terraform-v2

fix: circle-ci cache-key template needs 2 curly brackets
  jaws-journey-deploy/orb.yml
  jaws-journey-deploy/orb_version.txt
Due: run-jaws-journey-deploy

DEBUG: Add some print in the comment fetcher
  terraform-v2/github.py
Due: run-terraform-v2

Remove orb executor change
  terraform-v2/orb.yml
Due: run-terraform-v2

Revert "Remove orb executor change"
  terraform-v2/orb.yml
Due: run-terraform-v2

Ignore terraform changes to latest_restorable_time
  terraform-v2/cmp.py
  terraform-v2/orb_version.txt
Due: run-terraform-v2

Remove debug commenting
  terraform-v2/github.py
Due: run-terraform-v2

Bump terraform version and update readme
  terraform-v2/CHANGELOG.md
  terraform-v2/orb_version.txt
  terraform/CHANGELOG.md
  terraform/orb_version.txt
Due: run-terraform, run-terraform-v2

ci: update openjdk from legacy CircleCI image to latest version
  jaws-journey-deploy/orb.yml
  jaws-journey-deploy/orb_version.txt
Due: run-jaws-journey-deploy

ci: include node and python
  jaws-journey-deploy/orb.yml
Due: run-jaws-journey-deploy

Revert github.py changes
  terraform-v2/github.py
Due: run-terraform-v2

Fix tf version check
  terraform-v2/setup.sh
Due: run-terraform-v2

Add newline to cmp.py
  terraform-v2/cmp.py
Due: run-terraform-v2

Revert "Revert github.py changes"
  terraform-v2/github.py
Due: run-terraform-v2

Simplify cmp.py
  terraform-v2/cmp.py
Due: run-terraform-v2

Revert "Revert "Revert github.py changes""
  terraform-v2/github.py
Due: run-terraform-v2

fix: update node version
  jaws-journey-deploy/orb.yml
Due: run-jaws-journey-deploy

Path conditions:
  run-argocd: any of: argocd/.*
  run-asp-deploy: any of: asp-deploy/.*
  run-aws-get-parameters: any of: aws-get-parameters/.*
  run-aws-rotate-keys: any of: aws-rotate-keys/.*
  run-clair-scanner: any of: clair-scanner/.*
  run-clojure: any of: clojure/.*
  run-comms-commands: any of: comms-commands/.*
  run-gcp-rotate-keys: any of: gcp-rotate-keys/.*
  run-jaws-journey-deploy: any of: jaws-journey-deploy/.*
  run-oot-deploy: any of: oot-deploy/.*
  run-oot-eks: any of: oot-eks/.*
  run-pipeline-utils: any of: pipeline-utils/.*
  run-rac-gcp-deploy: any of: rac-gcp-deploy/.*
  run-sbt-deploy: any of: sbt-deploy/.*
  run-set-current-environment: any of: set-current-environment/.*
  run-ssh-proxy: any of: ssh-proxy/.*
  run-terraform: any of: terraform/.*
  run-terraform-v2: any of: terraform-v2/.*
  run-tools: any of: tools/.*
  run-tools-install: any of: tools-install/.*
  run-versioned-lambda: any of: versioned-lambda/.*
  run-with-git-deploy-key: any of: with-git-deploy-key/.*
