Repository ovotech/circleci-orbs: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-argocd, run-asp-deploy, run-aws-get-parameters, run-aws-rotate-keys, run-clair-scanner, run-clojure, run-comms-commands, run-gcp-rotate-keys, run-jaws-journey-deploy, run-oot-deploy, run-oot-eks, run-pipeline-utils, run-rac-gcp-deploy, run-sbt-deploy, run-set-current-environment, run-ssh-proxy, run-terraform, run-terraform-v2, run-tools, run-tools-install, run-versioned-lambda, run-with-git-deploy-key

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.0.2

workflows:
  setup-workflow:
    jobs:
      - path-filtering/filter:
          config-path: .circleci/continue_config.yml
          base-revision: master
          mapping: |
            argocd/.* run-argocd true
            asp-deploy/.* run-asp-deploy true
            aws-get-parameters/.* run-aws-get-parameters true
            aws-rotate-keys/.* run-aws-rotate-keys true
            clair-scanner/.* run-clair-scanner true
            clojure/.* run-clojure true
            comms-commands/.* run-comms-commands true
            gcp-rotate-keys/.* run-gcp-rotate-keys true
            jaws-journey-deploy/.* run-jaws-journey-deploy true
            oot-deploy/.* run-oot-deploy true
            oot-eks/.* run-oot-eks true
            pipeline-utils/.* run-pipeline-utils true
            rac-gcp-deploy/.* run-rac-gcp-deploy true
            sbt-deploy/.* run-sbt-deploy true
            set-current-environment/.* run-set-current-environment true
            ssh-proxy/.* run-ssh-proxy true
            terraform/.* run-terraform true
            terraform-v2/.* run-terraform-v2 true
            tools/.* run-tools true
            tools-install/.* run-tools-install true
            versioned-lambda/.* run-versioned-lambda true
            with-git-deploy-key/.* run-with-git-deploy-key true

update orb version
  jaws-journey-deploy/orb_version.txt
Due: run-jaws-journey-deploy

update orb version
  jaws-journey-deploy/scripts/code_coverage.sh
Due: run-jaws-journey-deploy

update orb version
  jaws-journey-deploy/orb.yml
  jaws-journey-deploy/scripts/code_coverage.sh
Due: run-jaws-journey-deploy

Revert executor image
  terraform-v2/orb.yml
Due: run-terraform-v2

Bump terraform-v2 version to 2.3.1
  terraform-v2/CHANGELOG.md
  terraform-v2/orb_version.txt
Due: run-terraform-v2

Bump terraform version to 1.10.1
  terraform/CHANGELOG.md
  terraform/orb_version.txt
Due: run-terraform

Fix changelog comment
  terraform/CHANGELOG.md
Due: run-terraform

fix: replace open jdk
  jaws-journey-deploy/orb.yml
Due: run-jaws-journey-deploy

RNC-2199: add snyk container scanning following push to registry
  rac-gcp-deploy/orb.yml
Due: run-rac-gcp-deploy

feat: add parallelism
  jaws-journey-deploy/orb.yml
Due: run-jaws-journey-deploy

feat: add parallelism
  jaws-journey-deploy/orb_version.txt
Due: run-jaws-journey-deploy

Test publishing with different token
  .circleci/continue_config.yml
  terraform-v2/init.sh
Due: run-terraform-v2

Build again
  terraform/apply.sh
Due: run-terraform

Build with new cred
  .circleci/continue_config.yml
  terraform-v2/init.sh
Due: run-terraform-v2

RNC-2199: scan docker image before push to registry
  rac-gcp-deploy/orb.yml
Due: run-rac-gcp-deploy

RNC-2199: correct snyk image scan variable injection from release
  rac-gcp-deploy/orb.yml
Due: run-rac-gcp-deploy

RNC-2199: correct snyk image scan variable injection from push_docker_image
  rac-gcp-deploy/orb.yml
Due: run-rac-gcp-deploy

update terraform publish to upload to S3 presigned URL
  terraform-v2/orb_version.txt
  terraform-v2/publish.sh
  terraform/orb_version.txt
  terraform/publish.sh
Due: run-terraform, run-terraform-v2

update terraform publish to upload to S3 presigned URL (#340)
  terraform-v2/orb_version.txt
  terraform-v2/publish.sh
  terraform/orb_version.txt
  terraform/publish.sh
Due: run-terraform, run-terraform-v2

Update tf changelogs
  terraform-v2/CHANGELOG.md
  terraform/CHANGELOG.md
Due: run-terraform, run-terraform-v2

RNC-2199: export UAT_IMAGE_ROOT during release steps
  rac-gcp-deploy/orb.yml
Due: run-rac-gcp-deploy

RNC-2199: add snyk container scanning before push to registry (#342)
  rac-gcp-deploy/orb.yml
Due: run-rac-gcp-deploy

Remove all bintray references from rac-gcp-deploy
  rac-gcp-deploy/README.md
  rac-gcp-deploy/orb.yml
Due: run-rac-gcp-deploy

Remove all bintray references from rac-gcp-deploy (#345)
  rac-gcp-deploy/README.md
  rac-gcp-deploy/orb.yml
Due: run-rac-gcp-deploy

Add Terraform 1.0.X compatible check to compact_plan (#319)
  terraform-v2/CHANGELOG.md
  terraform-v2/cmp.py
  terraform-v2/orb_version.txt
  terraform-v2/setup.sh
  terraform/CHANGELOG.md
  terraform/executor/compact_plan.py
  terraform/executor/test_compact_plan.py
  terraform/orb_version.txt
Due: run-terraform, run-terraform-v2

terraform v2: disable printing of commands when publishing
  terraform-v2/CHANGELOG.md
  terraform-v2/orb_version.txt
  terraform-v2/publish.sh
Due: run-terraform-v2

terraform v2: disable printing of commands when publishing (#346)
  terraform-v2/CHANGELOG.md
  terraform-v2/orb_version.txt
  terraform-v2/publish.sh
Due: run-terraform-v2

Default to installing the latest AWS CLI v2 if the binary is not present on the PATH
  aws-rotate-keys/CHANGELOG.md
  aws-rotate-keys/orb.yml
  aws-rotate-keys/orb_version.txt
Due: run-aws-rotate-keys

Add newline to tf py
  terraform-v2/apply.sh
Due: run-terraform-v2

feat: add publish only
  jaws-journey-deploy/orb.yml
  jaws-journey-deploy/orb_version.txt
Due: run-jaws-journey-deploy

Test no newline
  terraform-v2/github.py
  terraform-v2/plan.sh
Due: run-terraform-v2

Add newlines
  terraform-v2/plan.sh
Due: run-terraform-v2

Remove echo
  terraform-v2/apply.sh
  terraform-v2/plan.sh
Due: run-terraform-v2

Re-add newline to github.py
  terraform-v2/github.py
Due: run-terraform-v2

Add newlines to tf orb v1 py
  terraform/apply.sh
  terraform/plan.sh
Due: run-terraform

add var parameter for tf plan and apply
  jaws-journey-deploy/orb.yml
  jaws-journey-deploy/orb_version.txt
Due: run-jaws-journey-deploy

plan comment in collapsible details
  terraform-v2/comment_util.py
Due: run-terraform-v2

add line break
  terraform-v2/comment_util.py
Due: run-terraform-v2

feat: add resource class config
  jaws-journey-deploy/orb.yml
Due: run-jaws-journey-deploy
