Repository ovotech/circleci-orbs: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-argocd, run-asp-deploy, run-aws-configure-credentials-oidc, run-aws-get-parameters, run-aws-rotate-keys, run-clair-scanner, run-clojure, run-comms-commands, run-gcp-rotate-keys, run-helm-ci, run-ipa-deploy, run-jaws-journey-deploy, run-oot-deploy, run-oot-eks, run-pipeline-utils, run-rac-gcp-deploy, run-rac-kmi-deploy, run-sast-terraform, run-sast-docker, run-sbt-deploy, run-set-current-environment, run-setup-scheduled-pipeline, run-ssh-proxy, run-terraform, run-terraform-v2, run-tools, run-tools-install, run-versioned-lambda, run-with-git-deploy-key

add new tf kafka users provider version to all executors
  terraform-v2/CHANGELOG.md
  terraform-v2/orb_version.txt
  terraform/CHANGELOG.md
  terraform/executor/Dockerfile
  terraform/executor/Dockerfile-0.11
  terraform/executor/Dockerfile-0.12
  terraform/executor/Dockerfile-0.12-slim
  terraform/executor/Dockerfile-0.13
  terraform/orb_version.txt
Due: run-terraform, run-terraform-v2

add new tf kafka users provider version to all executors (#459)
  terraform-v2/CHANGELOG.md
  terraform-v2/orb_version.txt
  terraform/CHANGELOG.md
  terraform/executor/Dockerfile
  terraform/executor/Dockerfile-0.11
  terraform/executor/Dockerfile-0.12
  terraform/executor/Dockerfile-0.12-slim
  terraform/executor/Dockerfile-0.13
  terraform/orb_version.txt
Due: run-terraform, run-terraform-v2

Update README to latest orb version
  terraform/README.md
Due: run-terraform

fix: rac-kmi-deploy/executor/Dockerfile to reduce vulnerabilities
  rac-kmi-deploy/executor/Dockerfile
Due: run-rac-kmi-deploy

Add new kap-kmi-deploy orb.
  .circleci/config.yml
  .circleci/continue_config.yml
  .github/CODEOWNERS
  kap-kmi-deploy/README.md
  kap-kmi-deploy/orb.yml
  kap-kmi-deploy/orb_version.txt
Due: none

CPPE addition / modification of CircleCI orb sast
  sast/orb.yml
  sast/orb_version.txt
Due: none

CPPE addition / modification of CircleCI orb sast
  sast/README.md
Due: none

Bring kap-kmi-deploy orb docs up to date.
  kap-kmi-deploy/README.md
Due: none

CPPE addition / modification of CircleCI orb sast
  sast/README.md
  sast/orb.yml
Due: none

add-target-parameter
  terraform-v2/CHANGELOG.md
  terraform-v2/orb.yml
  terraform-v2/orb_version.txt
  terraform-v2/set_plan_args.sh
  terraform/CHANGELOG.md
  terraform/orb.yml
  terraform/orb_version.txt
  terraform/set_plan_args.sh
Due: run-terraform, run-terraform-v2

add-target-parameter
  terraform/CHANGELOG.md
Due: run-terraform

add-target-parameter
  terraform-v2/orb.yml
  terraform/orb.yml
Due: run-terraform, run-terraform-v2

CPPE addition / modification of CircleCI orb sast (#463)
  sast/README.md
  sast/orb.yml
  sast/orb_version.txt
Due: none

add-target-parameter
  terraform/README.md
Due: run-terraform

add target parameter to plan (#465)
  terraform-v2/CHANGELOG.md
  terraform-v2/orb.yml
  terraform-v2/orb_version.txt
  terraform-v2/set_plan_args.sh
  terraform/CHANGELOG.md
  terraform/README.md
  terraform/orb.yml
  terraform/orb_version.txt
  terraform/set_plan_args.sh
Due: run-terraform, run-terraform-v2

support reading manifests from a different repo
  jaws-journey-deploy/orb.yml
  jaws-journey-deploy/scripts/update_helm.sh
Due: run-jaws-journey-deploy

update CODEOWNERS
  .github/CODEOWNERS
Due: none

bump orb version
  jaws-journey-deploy/orb_version.txt
Due: run-jaws-journey-deploy

always use ovotech org
  jaws-journey-deploy/orb.yml
  jaws-journey-deploy/scripts/update_helm.sh
Due: run-jaws-journey-deploy

Bump version of snyk orb in use by clojure orb as the older snyk orb now seems broken.
  clojure/orb.yml
  clojure/orb_version.txt
Due: run-clojure

Bump clojure orb to latest cimg/clojure image.
  clojure/orb.yml
Due: run-clojure

Duh, forgot to bump the actual version file...
  clojure/orb_version.txt
Due: run-clojure

Print out information with Clojure orb that allows for easier diagnosing of snyk scanning problems.
  clojure/orb.yml
  clojure/orb_version.txt
Due: run-clojure

add dev env to enum
  jaws-journey-deploy/orb.yml
Due: run-jaws-journey-deploy

bump version
  jaws-journey-deploy/orb_version.txt
Due: run-jaws-journey-deploy

No need to install mvn in the Clojure orb- it's already installed.
  clojure/orb.yml
  clojure/orb_version.txt
Due: run-clojure

Force a snyk monitor whenever building Clojure projects to guarantee that violations can be caught in the Snyk dashboard.
  clojure/orb.yml
  clojure/orb_version.txt
Due: run-clojure

Avoid hitting snyk monitor twice in the Clojure orb by just calling snyk version the first time.
  clojure/orb.yml
  clojure/orb_version.txt
Due: run-clojure

Update orb.yml
  jaws-journey-deploy/orb.yml
Due: run-jaws-journey-deploy

Bump orb version
  jaws-journey-deploy/orb_version.txt
Due: run-jaws-journey-deploy

[RNC-2769] Add optional prod approval step to release
  rac-gcp-deploy/orb.yml
Due: run-rac-gcp-deploy

Fix authorization bearer for existing terraform version
  terraform/publish.sh
Due: run-terraform

CPPE addition / modification of CircleCI orb sast
  sast/README.md
  sast/orb.yml
  sast/orb_version.txt
Due: none

publish the orb again
  gitops/README.md
Due: none

Fix readme
  gitops/README.md
Due: none

Fix terraform-v2
  terraform-v2/publish.sh
Due: run-terraform-v2

Path conditions:
  run-argocd: any of: argocd/.*
  run-asp-deploy: any of: asp-deploy/.*
  run-aws-configure-credentials-oidc: any of: aws-configure-credentials-oidc/.*
  run-aws-get-parameters: any of: aws-get-parameters/.*
  run-aws-rotate-keys: any of: aws-rotate-keys/.*
  run-clair-scanner: any of: clair-scanner/.*
  run-clojure: any of: clojure/.*
  run-comms-commands: any of: comms-commands/.*
  run-gcp-rotate-keys: any of: gcp-rotate-keys/.*
  run-helm-ci: any of: helm-ci/.*
  run-ipa-deploy: any of: ipa-deploy/.*
  run-jaws-journey-deploy: any of: jaws-journey-deploy/.*
  run-oot-deploy: any of: oot-deploy/.*
  run-oot-eks: any of: oot-eks/.*
  run-pipeline-utils: any of: pipeline-utils/.*
  run-rac-gcp-deploy: any of: rac-gcp-deploy/.*
  run-rac-kmi-deploy: any of: rac-kmi-deploy/.*
  run-sast-terraform: any of: sast-terraform/.*
  run-sast-docker: any of: sast-docker/.*
  run-sbt-deploy: any of: sbt-deploy/.*
  run-set-current-environment: any of: set-current-environment/.*
  run-setup-scheduled-pipeline: any of: setup-scheduled-pipeline/.*
  run-ssh-proxy: any of: ssh-proxy/.*
  run-terraform: any of: terraform/.*
  run-terraform-v2: any of: terraform-v2/.*
  run-tools: any of: tools/.*
  run-tools-install: any of: tools-install/.*
  run-versioned-lambda: any of: versioned-lambda/.*
  run-with-git-deploy-key: any of: with-git-deploy-key/.*
