Repository ovotech/circleci-orbs: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-argocd, run-asp-deploy, run-aws-configure-credentials-oidc, run-aws-get-parameters, run-aws-rotate-keys, run-clair-scanner, run-clojure, run-comms-commands, run-gcp-rotate-keys, run-helm-ci, run-ipa-deploy, run-jaws-journey-deploy, run-oot-deploy, run-oot-eks, run-pipeline-utils, run-rac-gcp-deploy, run-rac-kmi-deploy, run-sast-terraform, run-sast-docker, run-sbt-deploy, run-set-current-environment, run-setup-scheduled-pipeline, run-ssh-proxy, run-terraform, run-terraform-v2, run-tools, run-tools-install, run-versioned-lambda, run-with-git-deploy-key

CPPE addition / modification of CircleCI orb terraform-registry
  terraform-registry/orb.yml
Due: none

Adds target-file
  rac-gcp-deploy/orb.yml
Due: run-rac-gcp-deploy

Exposes monitor-on-build parameter
  rac-gcp-deploy/orb.yml
Due: run-rac-gcp-deploy

Setups orb versioning
  rac-gcp-deploy/orb_version.txt
Due: run-rac-gcp-deploy

CPPE addition / modification of CircleCI orb terraform-registry (#502)
  .circleci/config.yml
  .circleci/continue_config.yml
  .github/CODEOWNERS
  terraform-registry/README.md
  terraform-registry/orb.yml
  terraform-registry/orb_version.txt
Due: none

Support timeout for Terraform
  terraform-v2/apply.sh
  terraform-v2/orb.yml
Due: run-terraform-v2

Adds container scan to kmi job
  rac-kmi-deploy/orb.yml
  rac-kmi-deploy/orb_version.txt
Due: run-rac-kmi-deploy

Stores unit test results
  rac-gcp-deploy/orb.yml
  rac-gcp-deploy/orb_version.txt
Due: run-rac-gcp-deploy

Revert snyk update
  rac-gcp-deploy/orb.yml
  rac-gcp-deploy/orb_version.txt
Due: run-rac-gcp-deploy

Downgrade snyk orb
  rac-gcp-deploy/orb.yml
  rac-gcp-deploy/orb_version.txt
Due: run-rac-gcp-deploy

Adds kmi-region param to deploy job
  rac-kmi-deploy/orb.yml
  rac-kmi-deploy/orb_version.txt
Due: run-rac-kmi-deploy

Fixes kmi-region check
  rac-kmi-deploy/orb.yml
  rac-kmi-deploy/orb_version.txt
Due: run-rac-kmi-deploy

Fixes kmi-region default
  rac-kmi-deploy/orb.yml
  rac-kmi-deploy/orb_version.txt
Due: run-rac-kmi-deploy

Adjusted SSH key used from kap-kmi-deploy orb.
  kap-kmi-deploy/orb.yml
  kap-kmi-deploy/orb_version.txt
Due: none

Bumping aws ecr version
  kap-kmi-deploy/orb.yml
Due: none

Bump kap-kmi-deploy orb version for new aws-ecr orb
  kap-kmi-deploy/orb_version.txt
Due: none

DO NOT MERGE: Exporting environment variables for incident debugging
  .circleci/config.yml
Due: none

Path conditions:
  run-argocd: any of: argocd/.*
  run-asp-deploy: any of: asp-deploy/.*
  run-aws-configure-credentials-oidc: any of: aws-configure-credentials-oidc/.*
  run-aws-get-parameters: any of: aws-get-parameters/.*
  run-aws-rotate-keys: any of: aws-rotate-keys/.*
  run-clair-scanner: any of: clair-scanner/.*
  run-clojure: any of: clojure/.*
  run-comms-commands: any of: comms-commands/.*
  run-gcp-rotate-keys: any of: gcp-rotate-keys/.*
  run-helm-ci: any of: helm-ci/.*
  run-ipa-deploy: any of: ipa-deploy/.*
  run-jaws-journey-deploy: any of: jaws-journey-deploy/.*
  run-oot-deploy: any of: oot-deploy/.*
  run-oot-eks: any of: oot-eks/.*
  run-pipeline-utils: any of: pipeline-utils/.*
  run-rac-gcp-deploy: any of: rac-gcp-deploy/.*
  run-rac-kmi-deploy: any of: rac-kmi-deploy/.*
  run-sast-terraform: any of: sast-terraform/.*
  run-sast-docker: any of: sast-docker/.*
  run-sbt-deploy: any of: sbt-deploy/.*
  run-set-current-environment: any of: set-current-environment/.*
  run-setup-scheduled-pipeline: any of: setup-scheduled-pipeline/.*
  run-ssh-proxy: any of: ssh-proxy/.*
  run-terraform: any of: terraform/.*
  run-terraform-v2: any of: terraform-v2/.*
  run-tools: any of: tools/.*
  run-tools-install: any of: tools-install/.*
  run-versioned-lambda: any of: versioned-lambda/.*
  run-with-git-deploy-key: any of: with-git-deploy-key/.*
