Repository ovotech/circleci-orbs: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-argocd, run-asp-deploy, run-aws-configure-credentials-oidc, run-aws-get-parameters, run-aws-rotate-keys, run-clair-scanner, run-clojure, run-comms-commands, run-gcp-rotate-keys, run-helm-ci, run-ipa-deploy, run-jaws-journey-deploy, run-oot-deploy, run-oot-eks, run-pipeline-utils, run-rac-gcp-deploy, run-rac-kmi-deploy, run-sast-terraform, run-sast-docker, run-sbt-deploy, run-set-current-environment, run-setup-scheduled-pipeline, run-ssh-proxy, run-terraform, run-terraform-v2, run-tools, run-tools-install, run-versioned-lambda, run-with-git-deploy-key

CPPE addition / modification of CircleCI orb setup-scheduled-pipeline
  setup-scheduled-pipeline/orb.yml
  setup-scheduled-pipeline/orb_version.txt
Due: run-setup-scheduled-pipeline

CPPE addition / modification of CircleCI orb sast (#449)
  sast/README.md
  sast/orb.yml
  sast/orb_version.txt
Due: none

CPPE addition / modification of CircleCI orb sast
  sast/orb.yml
Due: none

CPPE addition / modification of CircleCI orb sast
  sast/README.md
Due: none

CPPE addition / modification of CircleCI orb sast
  sast/README.md
  sast/orb.yml
  sast/orb_version.txt
Due: none

CPPE addition / modification of CircleCI orb setup-scheduled-pipeline (#444)
  setup-scheduled-pipeline/orb.yml
  setup-scheduled-pipeline/orb_version.txt
Due: run-setup-scheduled-pipeline

CPPE addition / modification of CircleCI orb sast (#450)
  sast/orb.yml
  sast/orb_version.txt
Due: none

CPPE addition / modification of CircleCI orb sast-terraform (#445)
  sast-terraform/README.md
  sast-terraform/orb.yml
  sast-terraform/orb_version.txt
Due: run-sast-terraform

CPPE addition / modification of CircleCI orb sast
  sast/orb.yml
  sast/orb_version.txt
Due: none

CPPE addition / modification of CircleCI orb sast
  sast/orb_version.txt
Due: none

Update Dockerfile
  terraform/executor/Dockerfile
Due: run-terraform

Upgrade tfswitch
  terraform/CHANGELOG.md
  terraform/executor/Dockerfile-0.11
  terraform/executor/Dockerfile-0.12
  terraform/executor/Dockerfile-0.12-slim
  terraform/executor/Dockerfile-0.13
  terraform/orb_version.txt
Due: run-terraform

terraform-v2 version bump
  terraform-v2/CHANGELOG.md
  terraform-v2/orb_version.txt
Due: run-terraform-v2

increase version of tf module
  jaws-journey-deploy/orb.yml
Due: run-jaws-journey-deploy

increase version of tf module (#454)
  jaws-journey-deploy/orb.yml
Due: run-jaws-journey-deploy

CPPE addition / modification of CircleCI orb sast-terraform
  sast-terraform/orb.yml
Due: run-sast-terraform

CPPE addition / modification of CircleCI orb sast-terraform
  sast-terraform/orb.yml
  sast-terraform/orb_version.txt
Due: run-sast-terraform

Deprecated the CircleCI orb sast-terraform in favour of the sast orb (#455)
  sast-terraform/orb.yml
  sast-terraform/orb_version.txt
Due: run-sast-terraform

Removed sast-terraform references
  .circleci/config.yml
  .circleci/continue_config.yml
  .github/CODEOWNERS
  README.md
  sast-terraform/orb.yml
Due: run-sast-terraform

Adding commands and jobs to ipa orb
  ipa-deploy/README.md
  ipa-deploy/orb.yml
  ipa-deploy/orb_version.txt
Due: run-ipa-deploy

Removed sast-terraform folder
  sast-terraform/README.md
  sast-terraform/orb.yml
  sast-terraform/orb_version.txt
Due: run-sast-terraform

Removing debug line
  ipa-deploy/orb.yml
Due: run-ipa-deploy

Adding delete integration stack job
  ipa-deploy/README.md
  ipa-deploy/orb.yml
Due: run-ipa-deploy

Renaming job:
  ipa-deploy/README.md
Due: run-ipa-deploy

Fix RAC compile orb
  rac-gcp-deploy/orb.yml
Due: run-rac-gcp-deploy

Path conditions:
  run-argocd: any of: argocd/.*
  run-asp-deploy: any of: asp-deploy/.*
  run-aws-configure-credentials-oidc: any of: aws-configure-credentials-oidc/.*
  run-aws-get-parameters: any of: aws-get-parameters/.*
  run-aws-rotate-keys: any of: aws-rotate-keys/.*
  run-clair-scanner: any of: clair-scanner/.*
  run-clojure: any of: clojure/.*
  run-comms-commands: any of: comms-commands/.*
  run-gcp-rotate-keys: any of: gcp-rotate-keys/.*
  run-helm-ci: any of: helm-ci/.*
  run-ipa-deploy: any of: ipa-deploy/.*
  run-jaws-journey-deploy: any of: jaws-journey-deploy/.*
  run-oot-deploy: any of: oot-deploy/.*
  run-oot-eks: any of: oot-eks/.*
  run-pipeline-utils: any of: pipeline-utils/.*
  run-rac-gcp-deploy: any of: rac-gcp-deploy/.*
  run-rac-kmi-deploy: any of: rac-kmi-deploy/.*
  run-sast-terraform: any of: sast-terraform/.*
  run-sast-docker: any of: sast-docker/.*
  run-sbt-deploy: any of: sbt-deploy/.*
  run-set-current-environment: any of: set-current-environment/.*
  run-setup-scheduled-pipeline: any of: setup-scheduled-pipeline/.*
  run-ssh-proxy: any of: ssh-proxy/.*
  run-terraform: any of: terraform/.*
  run-terraform-v2: any of: terraform-v2/.*
  run-tools: any of: tools/.*
  run-tools-install: any of: tools-install/.*
  run-versioned-lambda: any of: versioned-lambda/.*
  run-with-git-deploy-key: any of: with-git-deploy-key/.*
