Repository ovotech/circleci-orbs: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-argocd, run-asp-deploy, run-aws-configure-credentials-oidc, run-aws-get-parameters, run-aws-rotate-keys, run-clair-scanner, run-clojure, run-comms-commands, run-gcp-rotate-keys, run-helm-ci, run-jaws-journey-deploy, run-oot-deploy, run-oot-eks, run-pipeline-utils, run-rac-gcp-deploy, run-rac-kmi-deploy, run-sbt-deploy, run-set-current-environment, run-ssh-proxy, run-terraform, run-terraform-v2, run-tools, run-tools-install, run-versioned-lambda, run-with-git-deploy-key

Exporting deployment env variable
  jaws-journey-deploy/scripts/automated_test_run.sh
Due: run-jaws-journey-deploy

CPPE addition / modification of CircleCI orb sast-terraform
  sast-terraform/orb_version.txt
Due: none

Attempt to fix retry mechanism
  gitops/scripts/update_helm.sh
Due: none

Revert accidental changes
  gitops/scripts/update_helm.sh
Due: none

Upping version
  jaws-journey-deploy/orb_version.txt
Due: run-jaws-journey-deploy

Adding deployment variable to automated tests
  jaws-journey-deploy/orb.yml
Due: run-jaws-journey-deploy

Hardcoding env variable to test something
  jaws-journey-deploy/orb.yml
Due: run-jaws-journey-deploy

Fixing typo
  jaws-journey-deploy/orb.yml
Due: run-jaws-journey-deploy

add aiven kafka users provider v 1.0.7
  terraform-v2/CHANGELOG.md
  terraform-v2/orb_version.txt
  terraform/CHANGELOG.md
  terraform/README.md
  terraform/executor/Dockerfile
  terraform/executor/Dockerfile-0.11
  terraform/executor/Dockerfile-0.12
  terraform/executor/Dockerfile-0.12-slim
  terraform/executor/Dockerfile-0.13
  terraform/orb_version.txt
Due: run-terraform, run-terraform-v2

Attempt to get publish working in pipeline
  jaws-journey-deploy/orb_version.txt
Due: run-jaws-journey-deploy

Attempt to get publish working in pipeline
  jaws-journey-deploy/orb.yml
Due: run-jaws-journey-deploy

Bump snyk version
  rac-gcp-deploy/orb.yml
Due: run-rac-gcp-deploy

CPPE addition / modification of CircleCI orb sast-terraform
  sast-terraform/README.md
Due: none

CPPE addition / modification of CircleCI orb sast-terraform
  sast-terraform/README.md
  sast-terraform/orb_version.txt
Due: none

Update description
  gitops/orb.yml
Due: none

Only updating the helm values with image tag if supplied
  gitops/orb.yml
Due: none

Reverting change
  gitops/orb.yml
Due: none

Adding condition
  gitops/orb.yml
Due: none

Fixing layout
  gitops/orb.yml
Due: none

Adding default for image_tag
  gitops/orb.yml
Due: none

Adding condition around manifest values update
  gitops/orb.yml
  gitops/scripts/update_helm.sh
Due: none

Moving commit into conditional
  gitops/scripts/update_helm.sh
Due: none

Fix
  gitops/scripts/update_helm.sh
Due: none

Addinfg quotes
  gitops/scripts/update_helm.sh
Due: none

Update aws-cli orb and use friendly name for assume step
  aws-configure-credentials-oidc/orb.yml
  aws-configure-credentials-oidc/orb_version.txt
Due: run-aws-configure-credentials-oidc

Updating defaults
  gitops/orb.yml
Due: none

Changing comment
  gitops/scripts/update_helm.sh
Due: none

Refactor
  gitops/scripts/update_helm.sh
Due: none

Update to using the Jukie repo for tfswitch in terraform docker container
  terraform/executor/Dockerfile
Due: run-terraform

Use Jukie repo for tfswitch temporarily for the terraform-v1 orbs
  terraform/executor/Dockerfile-0.11
  terraform/executor/Dockerfile-0.12
  terraform/executor/Dockerfile-0.12-slim
  terraform/executor/Dockerfile-0.13
Due: run-terraform

Path conditions:
  run-argocd: any of: argocd/.*
  run-asp-deploy: any of: asp-deploy/.*
  run-aws-configure-credentials-oidc: any of: aws-configure-credentials-oidc/.*
  run-aws-get-parameters: any of: aws-get-parameters/.*
  run-aws-rotate-keys: any of: aws-rotate-keys/.*
  run-clair-scanner: any of: clair-scanner/.*
  run-clojure: any of: clojure/.*
  run-comms-commands: any of: comms-commands/.*
  run-gcp-rotate-keys: any of: gcp-rotate-keys/.*
  run-helm-ci: any of: helm-ci/.*
  run-jaws-journey-deploy: any of: jaws-journey-deploy/.*
  run-oot-deploy: any of: oot-deploy/.*
  run-oot-eks: any of: oot-eks/.*
  run-pipeline-utils: any of: pipeline-utils/.*
  run-rac-gcp-deploy: any of: rac-gcp-deploy/.*
  run-rac-kmi-deploy: any of: rac-kmi-deploy/.*
  run-sbt-deploy: any of: sbt-deploy/.*
  run-set-current-environment: any of: set-current-environment/.*
  run-ssh-proxy: any of: ssh-proxy/.*
  run-terraform: any of: terraform/.*
  run-terraform-v2: any of: terraform-v2/.*
  run-tools: any of: tools/.*
  run-tools-install: any of: tools-install/.*
  run-versioned-lambda: any of: versioned-lambda/.*
  run-with-git-deploy-key: any of: with-git-deploy-key/.*
